/*
Project      : Forserv : Best Hosting services
Version      : v1.0
Author       : HananHamdy
Support url  : https://themeforest.net/user/hananhamdy
Support email: hananhamdy92@gmail.com

=======-------

Table of content
 - Generall
 - Preloader
 - Header
 - Navbar
 - Banner
 - Services
 - Offers
 - Why Choose Us
 - News-Clients-Testimonials
 - Open Ticket
 - Footer
 - About Page
 - Assurance Page
 - Backup Servers Page
 - Contact Page
 - Features Plans
 - Blog Page
 - Single Post Page
 - Dedicate Server
 - Speacial Program Page
 - Team Page
*/


/* ======= Import CSS Files ======= */

@import url(bootstrap/bootstrap.min.css);
@import url(slick/slick.min.css);
@import url(slick/slick-theme.min.css);

/* ======= Fonts ======= */

@import url("../../../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

/* ======= Generall Styles ======= */

html,
body {
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #24273a;
    background-color: #fff;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #FD9139;
}

::selection {
    color: #fff;
    background: #FD9139;
}

.gray-bg {
    background: #fbfbfb;
}

.shadow-bg {
    box-shadow: 0px 2px 10px #f1f1f1;
}

.clear_ul {
    padding: 0;
    border: 0;
    list-style: none;
    margin: 0px;
}

.container {
    padding: 0;
}

ul {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    padding: 0px;
    margin: 10px 0px;
}

h6 {
    transition: .5s;
    font-size: 16px;
    font-weight: bold;
    color: #24273a
}

p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #6e6e6e;
}

a {
    font-weight: normal;
    display: inline-block;
    color: #24273a;
    transition: .5s;
    font-size: 13px;
    text-transform: uppercase;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #FD9139;
    outline: 0;
}

.opent {
    padding: 1px;
    background: #24273a;
    display: inline-block;
    border-radius: 50px;
    transition: .5s;
    width: 27%;
    min-width: 140px;
}

.opent:hover {
    background: #fff;
}

button {
    height: 50px;
    width: 100%;
    color: #fff;
    border-radius: 50px;
    transition: .5s;
    background-color: transparent;
    border: 1px dashed #fff;
}

button:hover {
    outline: 0;
    border: 1px dashed #24273a;
    color: #24273a;
}

button:focus,
button:active {
    outline: 0;
    border: 1px dashed #FD9139;
    color: #FD9139;
}

.form-control {
    border: 1px solid #fff;
    -webkit-box-shadow: inset 0 0px 0px;
    box-shadow: inset 0 0px 0px;
    height: 40px;
    border-radius: 50px;
}

.form-control:focus {
    outline: 0;
    border: none;
    box-shadow: inset 0 0px 0px;
}

.form-group:focus {
    outline: 0px;
}

.form-group {
    margin-bottom: 30px;
}

input[type=text],
input[type=email] {
    transition: .5s;
}

input[type=text]:focus,
input[type=email]:focus {
    background-color: #fff;
    border: 0px;
    box-shadow: 0px 0px 0px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label.check-label {
    padding-left: 25px;
    height: 18px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    color: #fff;
    margin: 0px 15px 0px 15px;
}

label.check-label {
    background-image: url(../images/check-icon.png);
}

input[type=checkbox]:checked+label.check-label {
    background-position: 0 -18px;
}

textarea {
    resize: vertical;
}

.fa {
    font-size: 12px;
}

.color {
    color: #FD9139;
}

hr {
    height: 3px !important;
    margin: 0px;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, #24273a 0%, #24273a 50%, #FD9139 50%, #FD9139 100%);
    display: block;
    margin: 20px 0px;
}

.section-padding {
    padding: 100px 0px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px !important;
}

.title {
    display: block;
    margin-bottom: 100px;
}

.title h3 {
    margin-bottom: 10px;
}

.title hr {
    margin: 20px auto 0px auto;
    width: 25%;
}


/* ======= Preloader ======= */

#preloader {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999999;
    margin-top: 0px;
    top: 0px;
    text-align: center;
}

#preloader p {
    position: absolute;
    top: 40%;
    left: 43%;
    font-weight: bold;
    color: #24273a;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.preload-3 {
    position: relative;
}

.preload-3:before,
.preload-3:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.preload-3:before {
    background: #FD9139;
    animation: preload-3-1 1.5s infinite ease-in-out;
}

.preload-3:after {
    background: #24273a;
    left: 22px;
    animation: preload-3-2 1.5s infinite ease-in-out;
}

@keyframes preload-3-1 {
    0%,
    100% {
        transform: translateX(0) rotate(0);
    }
    50% {
        transform: translateX(50px) scale(1.2) rotate(260deg);
        border-radius: 0;
    }
}

@keyframes preload-3-2 {
    0%,
    100% {
        transform: translateX(0) rotate(0);
    }
    50% {
        transform: translateX(-50px) scale(1.2) rotate(-260deg);
        border-radius: 0;
    }
}


/* ======= Header ======= */

header {
    box-shadow: 0px 2px 10px #F5F5F5;
    padding: 30px 0;
}

a.logo {
    margin-top: 5px;
}

a.logo img {
    margin: 0px;
    height: 33px;
    width: 30px;
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}

a.logo h3 {
    font-size: 30px;
    display: inline-block;
    margin: 0px;
}

.nav-info a {
    line-height: 45px;
    padding: 0 15px 0 0;
    border-radius: 50px;
    border: 1px solid #ebebeb;
    height: 45px;
    letter-spacing: 0.5px;
    display: inline-block;
}

.nav-info a .icon {
    float: left;
    width: 40px;
    line-height: 43px;
    height: 43px;
    text-align: center;
    margin-right: 15px;
    border-right: 1px solid #ebebeb;
    background-color: transparent;
}

.nav-info a:hover {
    background: #FD9139;
    border: 1px solid #FD9139;
    color: #fff;
}

a.lang {
    font-weight: bold;
}


/* ======= Signin Form ======= */

.modal {
    z-index: 9999;
}

.modal-dialog {
    max-width: 410px;
    margin: 40px auto;
}

.modal-dialog .close-btn {
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    right: 20px;
    color: #24273a;
    height: auto;
    width: auto;
    border: 0px;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 36px;
}

.modal-content .form-control {
    margin-bottom: 15px;
    border: 1px solid #e3e6e9;
    transition: .5s;
}

.modal-content .form-control:focus {
    outline: 0;
    border: 1px solid #FD9139;
    box-shadow: inset 0 0px 0px;
}

.modal-content .opent {
    width: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9990;
    background-color: #24273a;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.login-btn,
.google-login,
.twitter-login,
.facebook-login {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 45px 10px 25px;
    color: #fff;
}

.login-btn>i,
.google-login>i,
.twitter-login>i,
.facebook-login>i {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -7px;
}

.google-login {
    background-color: #dd4b39;
}

.twitter-login {
    background-color: #55acee;
}

.facebook-login {
    background-color: #3b5998;
}

.google-login:hover,
.twitter-login:hover,
.facebook-login:hover {
    background-color: #FD9139;
    color: #fff;
}


/* ======= Navbar ======= */

nav {
    padding: 20px 0px 15px 0px;
    box-shadow: 0px 2px 10px #F5F5F5;
}

nav a.client-area {
    background: #24273a;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    transition: .5s;
}

nav a.client-area:hover {
    background: #FD9139;
}

.menu {
    margin-top: 5px;
}

nav li {
    margin-right: 40px;
}

.nav>li>a {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    border-top: 2px solid #FD9139;
    margin-top: 17px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 0px 15px;
}

.dropdown-menu>li {
    margin: 15px 0px;
}

.dropdown-menu>li>a {
    text-align: left;
    padding: 0px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #FD9139;
    background-color: #fff
}

.navbar-toggle {
    background: #FD9139;
    width: auto;
}

.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
    background: #24273a;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    color: #fff;
    margin: 0px;
    padding: 0px;
    border: 2px solid #fff;
}


/* ======= Banner ======= */

#banner {
    background-image: url(../images/slider/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#banner p {
    color: #fff;
}

#banner form {
    background: rgba(255, 255, 255, .2);
    padding: 3%;
    border-radius: 50px;
    display: block;
    border: 1px solid #777B86;
    color: #24273a;
    margin: 30px 0px;
    width: 100%;
}

#banner .form-group:first-child {
    width: 66%;
}

#banner .opent {
    width: 30%;
}

#banner input {
    height: 50px;
    width: 100%;
}

#banner input.form-check-input {
    width: auto;
    height: auto;
}

#banner .checkbox label {
    color: #fff;
    margin: 20px 15px 0px 15px;
}

.small-links a,
.small-links span {
    color: #fff;
    margin: 30px 10px;
    opacity: .5;
}

.small-links a:hover {
    color: #FD9139;
    opacity: 1;
}


/* ======= Services ======= */

.service {
    margin-bottom: 50px;
}

.service i {
    position: relative;
    overflow: hidden;
    display: block;
    width: 90px;
    height: 90px;
    font-size: 32px;
    line-height: 90px;
    text-align: center;
    margin: 0 auto 30px;
    border-radius: 50%;
    border: 2px solid #FD9139;
    color: #FD9139;
    transition: all 0.5s;
}

.service h6 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.service:hover h6 {
    color: #FD9139;
}

.service:hover i {
    background-color: #FD9139;
    color: #fff;
}


/* ======= Offers ======= */

#offers {
    background: linear-gradient(to right, #fff 0%, #fff 50%, #FD9139 50%, #FD9139 100%);
}

#offers img {
    margin: 0 auto;
}

.month-offer,
.month-offer p {
    color: #fff;
}

.month-offer hr {
    background-image: linear-gradient(to right, #24273a 0%, #24273a 50%, #fff 50%, #fff 100%);
}


/* ======= Why Choose Us ======= */

#chooseus {
    background: #24273a;
    color: #fff;
}

.choose-center-img {
    background-image: url(../images/why-choose/whychoose.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 370px;
    padding-top: 130px;
    text-align: center;
}

.choose-center-img h2 {
    line-height: 40px;
}

#chooseus ul {
    padding: 0px;
}

#chooseus ul li:last-child {
    margin-bottom: 0px;
}

#chooseus li {
    margin-bottom: 50px;
}

#chooseus h6 {
    margin-bottom: 20px;
}

#chooseus h6,
#chooseus p {
    color: #fff;
}

#chooseus li:hover h6 {
    color: #FD9139;
}


/* ======= News - Clients - Testim ======= */

#news_clients_testim .title {
    margin-bottom: 50px;
}

#news_clients_testim .title hr {
    margin: 20px 0px 0px 0px;
    width: 100%;
}


/*News*/

.news ul {
    padding: 0px;
}

.news ul li {
    margin-bottom: 30px;
}

.news h6 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.news ul a:hover h6 {
    color: #FD9139;
}

.date {
    font-weight: normal;
    font-size: 16px;
    padding-right: 10px;
}

.news p {
    margin: 0px;
}


/*Clients*/

.clients img {
    margin-top: 0px;
    margin-bottom: 30px;
}

.clients ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 50%;
}

.clients ul:last-child {
    float: left;
}

.clients ul:last-child li {
    float: left;
}


/*Testim*/

.client-text {
    border: 1px solid #ccc;
    padding: 20px;
}

.client-text h6 {
    margin-bottom: 0px;
}

.client-text .client-work {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.client-text img {
    height: 60px;
    width: 60px;
    float: left;
    margin: 0px 10px 10px 10px;
}

.slick-slider {
    padding: 0px;
}

.slick-list {
    width: 100%;
    padding: 0px !important;
}

.slick-slide {
    outline: 0px;
}


/* ======= Open Ticket ======= */

#open-ticket {
    background: #FD9139;
    color: #fff;
    padding: 50px 0px;
}

#open-ticket p {
    color: #fff;
}

#open-ticket .opent {
    margin-top: 20px;
}

#open-ticket .opent:hover {
    background: #fff;
}

#open-ticket img {
    margin-top: -15px;
}

#ticket-form .modal-dialog {
    width: 100%;
    max-width: none;
}

#ticket-form hr {
    margin-bottom: 50px;
}

#ticket-form .opent {
    margin-bottom: 15px;
    width: 27%;
}


/* ======= Footer ======= */

#footer {
    background: #24273a;
    color: #fff;
    padding-bottom: 0px;
}

#footer p {
    color: #fff;
}

#footer hr {
    background-image: linear-gradient(to right, #fff 0%, #fff 50%, #FD9139 50%, #FD9139 100%);
    width: 100%;
}

#footer .title {
    margin-bottom: 50px;
    display: block;
}


/*Support*/

.support {
    height: 190px;
    background-image: url(../images/footer/support.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
}


/*Footer Buttons*/

#footer .opent {
    background: #fff;
}

#footer button {
    border: 1px dashed #24273a;
    color: #24273a;
}

#footer .opent:hover {
    background: #FD9139;
}

#footer button:hover {
    outline: 0;
    border: 1px dashed #fff;
    color: #fff;
}

#footer button:active,
#footer button:focus {
    border: 1px dashed #FD9139;
    color: #FD9139;
    background: #fff;
}


/*MainFooter*/

.footer {
    margin-top: 50px;
}


/*Newsletters*/

.footer .form-control {
    background-color: transparent;
    border: 1px solid #3E4259;
    border-radius: 50px;
    height: 40px;
    padding: 10px;
    margin-bottom: 30px;
}

.footer button {
    margin-right: 0px;
}


/*Contact Us*/

address span {
    padding-right: 15px;
}

address p {
    margin-bottom: 30px;
}


/*Service Links*/

.service-links {
    overflow: hidden;
}

.links {
    float: left;
}

.links a {
    color: #fff;
    margin-bottom: 30px;
}

.links a:hover {
    color: #FD9139;
}

.links a span {
    padding-right: 15px;
}


/*Copyright*/

.copyright p {
    margin-bottom: 0px;
    padding-bottom: 50px;
}


/*Social Links*/

#social-ft a {
    padding: 20px 0px 0px 0px;
    width: 100%;
    color: #fff;
    font-size: 24px;
}

#social-ft a .fa {
    font-size: 22px;
}

#social-ft .col-sm-2 {
    padding: 0px;
    height: 61px;
}

.facebook {
    background: #3B5997;
}

.twitter {
    background: #54ABEE;
}

.google {
    background: #DE4B39;
}

.linkedin {
    background: #0A76B4;
}

.dribbble {
    background: #EA4C89;
}

.wordpress {
    background: #2C97C3;
}


/* ======= About Page ======= */

.carousel-control.left,
.carousel-control.right {
    background: transparent;
}

.carousel-control {
    top: 50%;
    bottom: 43%;
    color: #31344a;
    text-shadow: 0px 0px 0px;
    opacity: .7;
    width: auto;
}

.carousel-inner>.item>img {
    width: 100%;
}

.carousel-control:focus,
.carousel-control:hover {
    color: #FD9139;
    opacity: 1;
}

.carousel-control.right {
    right: 10px;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control .fa {
    font-size: 26px;
}

#accordion {
    margin: 30px 0px 0px 0px;
}

.panel-default {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0px 0px;
}

.panel-default>.panel-heading {
    background: transparent;
    transition: .5s;
}

.panel-default>.panel-heading:hover,
.panel-default>.panel-heading:active,
.panel-default>.panel-heading:focus {
    background: #FD9139;
}

.panel-default>.panel-heading:hover a {
    color: #fff;
}

.panel-body img {
    float: left;
    margin-right: 10px;
}

.about-vedio {
    cursor: pointer;
}

.about-vedio img {
    margin: 0px;
}

.about-vedio .vedio-tite {
    background: #31344a;
    margin: 0px;
    padding: 30px;
}

.about-vedio .vedio-tite a h6 {
    color: #fff;
}

.about-vedio:hover .vedio-tite a h6 {
    color: #FD9139;
}

.about-vedio .vedio-tite a:first-child span {
    font-size: 24px;
    line-height: 10px;
    color: #fff;
    margin-right: 15px;
    float: right;
}


/* ======= Assurance Page ======= */

.import {
    border: 1px solid #e1e5e6;
    padding: 30px;
    margin-bottom: 30px;
}

.import img {
    float: left;
    margin-right: 30px;
}

.import p {
    padding-left: 95px;
}

.import ul {
    padding-left: 110px;
}

.import ul p {
    padding-left: 0px;
}


/* ======= Backup Servers Page ======= */

#backup .service,
#contact .service,
#support-contact .service,
#ssl .service,
#ddos .service {
    margin-bottom: 0px;
}

.plan-table {
    display: table;
    width: 100%;
}

.plan-heading {
    display: table-row;
    text-align: center;
    color: #fff;
}

.plan-heading h6,
.plan-row-title p {
    color: #fff;
}

.plan-heading .plan-cell {
    border: 0px;
    border-right: 1px solid #31344a;
    border-bottom: 1px solid #31344a;
    background: #24273a;
}

.plan-heading .heading-img,
.plan-button .heading-img {
    background: #fff;
    border-right: 0px;
    border-bottom: 1px solid #f6f6f6;
}

.plan-heading .heading-img h6 {
    color: #FD9139;
}

.plan-button .heading-img {
    border-bottom: 0px;
}

.plan-heading img {
    width: 130px;
    height: 110px;
}

.plan-row {
    display: table-row;
}

.plan-cell {
    display: table-cell;
    border-right: solid;
    border-bottom: solid;
    border-color: #ebebeb;
    background: #f6f6f6;
    border-width: thin;
    padding: 10px 5px;
    font-weight: bold;
}

.plan-row-title {
    background: #24273a;
    color: #fff;
    border: 0px;
    border-bottom: 1px solid #31344a;
}

.plan-table .opent {
    width: 100%;
    min-width: auto;
}


/* ======= Contact ======= */

.contact {
    margin-bottom: 0px;
}

.contact .border {
    top: 27%;
    left: 20%;
    right: 20%;
}

.contact img {
    width: 90px !important;
    height: 90px !important;
}

#support-contact a {
    background: #31344a;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    margin-top: 30px;
    transition: .5s;
}

#support-contact a:hover {
    background: #FD9139;
}

#contact-form .form-control {
    border: 1px solid #e3e6e9;
    transition: .5s;
}

#contact-form .form-control:focus {
    outline: 0;
    border: 1px solid #FD9139;
    box-shadow: inset 0 0px 0px;
}


/* ======= Features Plans ======= */

.feature {
    background-image: url(../images/vps/feature-icon.html);
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 30px;
    padding-left: 42px;
}

.feature h6 {
    margin-top: 0px;
    transition: .5s;
}

.feature:hover h6 {
    color: #FD9139;
}


/* ======= Blog ======= */

.lessposts {
    display: none;
}

#blog .post {
    display: none;
    margin-bottom: 30px;
}

#blog .post .hover-bg {
    height: 340px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#blog .post .hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    background: rgba(36, 39, 58, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

#blog .post .hover-bg .hover-text i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
    height: 50px;
    width: 50px;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 40px;
    background: #FD9139;
    color: #ffffff;
}

#blog .post .hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

#blog .post .hover-bg:hover .hover-text {
    opacity: 1;
}

#blog .post:hover a>h6 {
    color: #FD9139;
}

#blog .date {
    color: #FD9139;
}

#blog img {
    height: 340px;
    width: 100%;
    margin: 0px;
}

#blog h6 {
    margin-bottom: 0px;
}

#blog ul.meta-post {
    font-size: 12px;
    color: #6e6e6e;
    margin: 5px 0px 10px 0px !important;
}

#blog ul.meta-post i {
    padding-right: 10px;
    color: #FD9139;
}

#blog ul.meta-post li {
    margin-right: 10px;
}

#blog .lessposts {
    display: none;
}


/* ======= Single Post Page ======= */

#single-post img {
    max-height: 400px;
    width: 100%;
    margin-bottom: 30px;
}

.blog-post-text h4,
.blog-post-text h3 {
    margin: 30px 0px;
}

.blog-post-text p {
    line-height: 30px;
    margin: 15px 0px;
}

#single-post .blog-post-text img {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 30px;
}

.tags,
.share {
    margin: 20px 0px;
}

.tags h4 {
    margin: 0px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #FD9139;
    vertical-align: middle;
    margin-top: 4px;
    margin-right: 20px;
}

.share a {
    border: 3px solid #31344a;
    text-align: center;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 10px;
    font-size: 1.2rem;
    line-height: 25px;
    border-radius: 100px;
}

.share a:hover {
    border: 3px solid #FD9139;
}


/* ======= Speacial Program Page ======= */

.speacial-prog {
    margin-bottom: 30px;
}

.speacial-prog img {
    border: 4px solid #f2f2f2;
    height: 180px;
    width: 100%;
}


/* ======= Dedicate Server ======= */

.dedicate-server .plan-table {
    margin-bottom: 50px;
}


/* ======= Team Page ======= */

.filters-button-group {
    margin-bottom: 50px;
}

#team .button {
    display: inline-block;
    color: #31344a;
    cursor: pointer;
    padding: 5px 20px;
    width: auto;
    border: 1px dashed #31344a;
}

#team .button:hover,
#team .button.is-checked,
#team .button:active,
#team .button.is-checked {
    background-color: #FD9139;
    color: #fff;
}

#team .button-group:after {
    content: '';
    display: block;
    clear: both;
}

#team .button-group .button {
    float: none;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

#team .button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

#team .button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}

.team {
    border: 1px solid #e3e6e9;
    border-bottom: 3px solid #FD9139;
    cursor: pointer;
    margin-bottom: 30px;
}

.team img {
    margin: 0px;
    width: 100%;
    height: 270px;
}

.team .team-info {
    padding: 10px 20px;
    transition: .5s;
}

.team:hover .team-info {
    background: #FD9139;
}

.team-info p {
    transition: .5s;
}

.team:hover .team-info h6,
.team:hover .team-info p {
    color: #fff;
}

.team-social {
    background: #31344a;
    display: inline-block;
    margin: 0px;
    padding: 20px 15px 10px 15px;
    position: absolute;
    top: 2px;
    left: 16px;
    height: 270px;
}

.team-social li {
    margin-bottom: 23px;
}

.team-social li a {
    color: #fff;
}

.team-social li a:hover {
    color: #FD9139;
}