@media (min-width:768px) and (max-width:992px) {
    /*Container*/
    .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    
    .no-margin{
        margin-bottom: 50px !important;
    }
    
    .no-margin-responsivee{
        margin: 0px !important;
    }
    
    /*Navbar*/
    .navbar-right {
        margin-right: 0px;
    }
    nav li {
        margin-right: 5px;
    }
    nav .opent {
        width: auto;
        min-width: auto;
    }
    /*Choose Us*/
    #chooseus ul {
        text-align: left;
    }
    .choose-center-img {
        margin: 30px 0px;
        background-image: none;
        height: auto;
        padding-top: 0px;
        text-align: left;
    }
    /*News*/
    .news {
        margin-bottom: 50px;
    }
    /*Footer*/
    .support {
        background-image: none;
        padding-top: 0px;
        height: auto;
    }
    .copyright {
        margin-top: 40px;
    }
    
    #accordion{
        margin: 30px 0px;
    }
}

@media (max-width:767px) {
    /*Container*/
    .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .section-padding {
        padding: 50px 0px;
    }
    /*Preloader*/
    #preloader p {
        left: 15%;
    }
    .preloader {
        left: 40%;
    }
    /*Header*/
    header {
        height: auto;
    }
    .navbar-header {
        display: inline-block;
        float: right;
    }
    .navbar-toggle {
        margin: 0px;
    }
    /*Login Sign up Lang*/
    .nav-info {
        text-align: center;
    }
    .nav-info li{
        display: block;
        width: 100%;
    }
    .nav-info a {
        padding-right: 5px;
        margin-top: 30px;
        width: 100%;
    }
    .nav-info a .icon {
        margin-right: 5px;
        width: 50px;
    }
    /*Navbar*/
    .navbar-collapse.in {
        padding-bottom: 20px;
        overflow: visible;
    }
    nav,
    nav ul {
        padding: 0px;
    }
    nav ul {
        padding: 10px 0px;
    }
    nav li {
        display: block !important;
        margin-bottom: 10px;
        padding: 5px 0px;
    }
    /*Banner*/
    #banner p {
        margin-top: 10px;
    }
    #banner form {
        padding-top: 20px;
        padding: 30px;
        border-radius: 25px;
    }
    #banner input,
    #banner .form-group:first-child,
    #banner .opent {
        width: 100%;
    }
    
    input[type=checkbox] + label.check-label {
    color: #fff;
    margin-bottom: 15px;
    }
    
    .small-links{
        margin-top: 30px;
    }
    
    .small-links a {
        margin: 0px 0px 10px 0px;
    }
    
    /*Titles*/
    .title{
        margin-bottom: 50px;
    }
    
    .clients .title,
    .testim .title,
    .month-offer .title,
    #footer .title {
        margin-top: 50px;
    }
    /*Offers*/
    .speacial-offer hr {
        background-image: linear-gradient(to right, #24273a 0%, #24273a 50%, #fff 50%, #fff 100%);
    }
    .month-offer .title {
        color: #24273a;
    }
    .month-offer p {
        color: #6e6e6e;
    }
    /*Choose Us*/
    #chooseus ul {
        text-align: left;
    }
    .choose-center-img {
        margin: 30px 0px;
    }
    /*Open Ticket*/
    #open-ticket .col-sm-6 {
        text-align: left;
    }
    /*Footer*/
    .support {
        background-image: none;
        padding-top: 0px;
        height: auto;
    }
    .support .col-sm-4 {
        text-align: left;
    }
    .footer {
        margin-top: 0px;
    }
    #footer .opent {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .copyright {
        margin-top: 40px;
    }
    /*Tables*/
    .plan-button button {
        padding: 2px;
        min-width: auto;
        font-size: 12px;
        height: auto;
    }
    .plan-cell {
        padding: 0px;
        max-width: 40px;
        overflow: hidden;
    }
    .plan-cell p {
        font-size: 12px;
    }
    .plan-heading .plan-cell h3 {
        font-size: 12px;
    }
    .import p,
    .import ul {
        padding-left: 0px;
    }
    .feature {
        background-position: 15px 0px;
        padding-left: 57px;
    }
    #team .button {
        width: 100%;
    }
    #accordion {
        margin: 30px 0px 30px 0px;
    }
    .about-vedio{
        margin-bottom: 30px;
    }
    #backup .service , #contact .service , #support-contact .service , #ssl .service , #ddos .service{
    margin-bottom: 50px;
    }
    .no-margin{
        margin-bottom: 50px !important;
    }
    
    .no-margin-responsive{
        margin: 0px !important;
    }
}