/* Table of Contents
   - - - - - - - - -
	1. Global
	2. Standard Forms
	3. Global Typography
	4. Top Bar
	5. Navigation
	6. Home Page
	7. Inner Pages
	8. Footer
	- - - - - - - - -
*/



/* ============
   1 = Global
   ============ */

body {font-family: 'Open Sans', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1.4; color: #333; position: relative; -webkit-font-smoothing: antialiased; background: #fff; margin:0;}

.row {max-width:1170px;}
.row.multicol {max-width:95%;}
iframe {margin: 0 0 40px; border:0; width:100%;}
code { text-shadow: 0 1px white; line-height:1.3;	font-family: Consolas, Monaco, 'Andale Mono', monospace; font-weight:normal; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; background: #F5F2F0;display: block; padding: 12px; margin: 8px 0; color:#303038; border: 0; border-radius:6px;}

/* ==================
   2 = Standard Forms
   ================== */
form { margin: 0; padding:0;}
.row form .row { margin: 0 -6px; }
.row form .row .column, .row form .row .columns { padding: 0.4px; }
.row form .row.collapse { margin: 0; }
.row form .row.collapse .column, .row form .row.collapse .columns { padding: 0; }
label { color: #4d4d4d; cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; }
label.right { float: none; text-align: right; }
label.inline { line-height: 32px; margin: 0 0 12px 0; }
.prefix, .postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0; padding-bottom: 0; height: 32px; line-height: 31px; }
a.button.prefix, a.button.postfix { padding-left: 0; padding-right: 0; text-align: center; }
span.prefix, span.postfix { background: #f2f2f2; border: 1px solid #e8e8e8ccc; }
.prefix { left: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; overflow: hidden; }
.postfix { right: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { background-color: white; font-family: inherit; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #666; display: block; margin: 0; padding: 6px;  width: 100%; border-radius: 4px }
input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize { font-size: 17px; padding: 4px 6px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #f6f6f6; border-color: #b3b3b3; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: #ddd; }
textarea { height: auto; }
select { background-color: white; font-family: inherit; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #666; display: block; margin: 0; padding: 6px;  width: 100%; border-radius: 4px  }

/* Login Form Modal */
.login-form {text-align: center; background:#fff; overflow:hidden; padding:20px;}
.login-form input[type="text"], .login-form input[type="password"] { font-size:15px; padding: 8pxpx; height:45px; width:100%; border: 1px solid #d4d4d4;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); margin:8px 0 18px; }
.login-form input[type="submit"] { -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); width:100%; float: left; font-size:14px; background: #3D3F40; height:45px; color:#fff; font-weight:900; padding:6px; text-transform: uppercase;  width: 100%; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box; }
.login-form input[type="submit"]:hover { background: #FE8F8C; }

/* ====================================
   3 = Global Typography
   ==================================== */

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-weight: 700; color: #000; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 12px; margin-top: 12px;  }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { font-size: 44px; }
h2 { font-size: 34px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
a { color: #fe8f8c; text-decoration: none; line-height: inherit; }
a:hover { color: #303038; text-decoration: underline;}
p { font-family: inherit; font-weight: normal; line-height: 1.4; margin-bottom: 17px; font-size: 14px;}
hr { border: solid #e8e8e8; border-width: 1px 0 0; clear: both; margin: 0 0 21px; height: 0; }
hr.small { border: solid #fe8f8c; border-width: 6px 0 0; clear: both;margin:0 auto; margin-top:30px; margin-bottom:20px; height: 0; max-width:150px; }
.text-center {text-align:center;}
.section-title-bottom-line {  background: #dfdfdf;    border-left: 150px solid #fe8f8c;     height:1px;    margin: 22px 0;}
.spacing-25 {padding-bottom:25px;}
.spacing-top-50 {padding-top:50px; }
.spacing-bottom-40 {padding-bottom:40px; }

/* Tabs */
ul.resp-tabs-list {    margin: 0;    padding: 0px; margin:0 auto; display:table;}
.resp-tabs-list li {    font-weight: 400;  background:#7E8D9C; color:#fff; font-size: 15px;  display: inline-block;    padding: 13px 15px;    margin: 0 2px;    list-style: none;    cursor: pointer;    float: left;}
.resp-tabs-container {    padding: 0px;    background-color: #fff;    clear: left;}
h2.resp-accordion {    cursor: pointer;    padding: 5px;    display: none; font-weight: 400;}
.resp-tab-content {    display: none;    padding: 25px 30px 20px;}
.resp-tabs-list li.resp-tab-active {    border: 1px solid #e8e8e8; background:#fff; color:#303038; font-weight: 600;  border-bottom: none;    margin-bottom: -1px ;    padding: 12px 14px 14px 14px ;}
.resp-tabs-list li.resp-tab-active {    border-bottom: none;}
.resp-content-active, .resp-accordion-active {    display: block;}
.resp-tab-content {    border: 1px solid #e8e8e8;}
h2.resp-accordion {    font-size: 15px;    border: 1px solid #e8e8e8;    border-top: 0px solid #e8e8e8;    margin: 0px;    padding: 20px 15px;}
h2.resp-tab-active {    border-bottom: 0px solid #e8e8e8 ;   margin-bottom: 0px ;    padding: 20px 15px ;}
h2.resp-tab-title:last-child {    border-bottom: 12px solid #e8e8e8 ;    background: blue;}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {    float: left;    width: 20%;}
.resp-vtabs .resp-tabs-list li {    display: block;    padding: 15px 15px ;    margin: 0;    cursor: pointer;    float: none;}
.resp-vtabs .resp-tabs-container {    padding: 0px;    border: 1px solid #e8e8e8;    float: left;    width: 78%;    min-height: 250px;    border-radius: 4px;    clear: none;}
.resp-vtabs .resp-tab-content {    border: none;}
.resp-vtabs li.resp-tab-active {    border: 1px solid #e8e8e8;    border-right: none;    background-color: #fff;    position: relative;    z-index: 1;    margin-right: -1px ;    padding: 14px 15px 15px 14px ;}
.resp-arrow {    width: 0;    height: 0;    float: right;    margin-top: 3px;    border-left: 6px solid transparent;    border-right: 6px solid transparent;    border-top: 12px solid #e8e8e8;}
h2.resp-tab-active span.resp-arrow {    border: none;    border-left: 6px solid transparent;    border-right: 6px solid transparent;    border-bottom: 12px solid #9B9797;}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {    background: #7E8D97;    color:#fff;}
.resp-easy-accordion  h2.resp-accordion {        display: block;}
.resp-easy-accordion .resp-tab-content {    border: 1px solid #e8e8e8;}
.resp-easy-accordion .resp-tab-content:last-child {    border-bottom: 1px solid #e8e8e8 ;}
.resp-jfit {    width: 100%;    margin: 0px;}
.resp-tab-content-active {    display: block;}
h2.resp-accordion:first-child {    border-top: 1px solid #e8e8e8 ;}


/* Lists ---------------------- */
ul.arrow li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(images/icons/arrow_right.png) no-repeat 0 50%; list-style: none;}
ul.bulletorange li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(images/icons/bulletorange.png) no-repeat 0 50%; list-style: none;}
ul.smallarrow li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(images/icons/smallarrow.png) no-repeat 0 50%; list-style: none;}
ul.domainprices li { padding: 6px 0 6px 20px; background: url(images/icons/bullet.png) no-repeat 0 50%; list-style: none; font-size:15px;}
ul.domainprices li span { background: #e6e6e6; padding:4px 7px; margin-left:4px; -moz-border-radius: 5px;-webkit-border-radius: 5px; color:#2d2d2d2; float:right}
ul.bluearrow li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(images/icons/bluearrow.png) no-repeat 0 50%; list-style: none;}
ul.no-bullet-padding li { list-style: none; padding-bottom:8px;}

/* Blockquotes ---------------------- */
blockquote, blockquote p { line-height: 1.5; color: #6f6f6f; }
blockquote { margin: 0 0 10px 0; padding: 20px; background: #f5f5f5; }
blockquote cite { display: block;  color: #555555; padding-bottom:10px; border-bottom:1px solid #dcdcdc; margin-bottom:10px; font-weight:400; font-size:13px; }
blockquote cite a, blockquote cite a:visited { color: #555555; }
blockquote.marginright {margin-right:20px; border-left:3px solid #fe8f8c}
blockquote.marginleft {margin-left:20px; border-left:3px solid #fe8f8c}
blockquote.white {border-left:3px solid #d94a38; background:#fff; padding:10px;}

/* ==================
   4 = Top Bar
   ================== */
.top {background: #494B4C; padding-top:0;}
.topsticky {position:fixed; z-index:9999999999; width:100%; top:0;}
.top-nav {width:100%; background:#3D3F40; padding:0;margin:0;}
.top-list {  padding: 0; margin:0; list-style: none;  overflow: hidden;  }
.top-list > li {  list-style: none;    float: left;  padding:10px 15px;  color:#EEEDEE; font-size:13px;  }
.top-list > li:first-child { padding-left:0;  }
.top-list > li i{ padding-right:8px; }
.top-list > li a { color:#EEEDEE; }
.top-list > li a:hover { color:#fe8f8c; text-decoration:none; }

.top-list-right {  padding: 0; margin:0; list-style: none;  overflow: hidden; float:right;  }
.top-list-right > li {  list-style: none;    float: left;  padding:10px 15px;  color:#EEEDEE; font-size:13px;  }
.top-list-right > li:last-child {padding-right:0;}
.top-list-right > li i { padding-right:8px; }
.top-list-right > li a { color:#EEEDEE; }
.top-list-right > li a:hover { color:#fe8f8c; text-decoration:none; }
.top-list-right > li.current-menu-item a { color:#fe8f8c; text-decoration:none; }


/* ==================
   5 = Navigation
   ================== */
nav.desktop-menu {  padding: 0; float:right; text-align: left; }
.slicknav_menu, .mobile-menu { display:none;  }


/*** Superfish Essential Styles ***/
.sf-menu, .sf-menu * {  margin: 0;  padding: 0;  list-style: none;}
.sf-menu li {  position: relative;}
.sf-menu ul {  position: absolute;  display: none;  top: 100%;  left: 0;  z-index: 99;}
.sf-menu > li {  float: left;}
.sf-menu li:hover > ul,.sf-menu li.sfHover > ul {  display: block;}
.sf-menu a {  display: block;  position: relative;}
.sf-menu ul ul {  top: 0;  left: 100%;}

/*** Superfish Menu Skin ***/
.sf-menu { overflow: visible; margin: 0; padding: 0; list-style: none; z-index: 1000; line-height: 1.0; float: left;}
.sf-menu ul { z-index: 1000; position: absolute; top: -999em; padding: 0;  margin:0; overflow: visible !important;}
.sf-menu ul li { display: block; width: 100%; text-align: left; padding:0; margin:0; border:0; }
.sf-menu ul li a { margin-bottom: 1px;  display: block; border:none; width: 100% !important; background: #898a8d; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; }
.sf-menu ul li a:hover { background: #fe8f8c; }
.sf-menu a { display: block; position: relative; font-size:14px; font-weight:400; line-height:1.4; padding:0; color:#fff;}
.sf-menu > li > a {display: block; }
.sf-menu li { float: left; position: relative; text-decoration:none; text-align: center;  padding:47px 15px;transition: background-color 0.5s ease;}
.sf-menu li:last-child, .sf-menu a:last-child { padding-right:0;}
.sf-menu > li > a {display: block;  }
.sf-menu li li a { font-size:12px;color:#333; padding:9px 10px 7px; background:#fff; border-bottom:1px solid #ececec; }
.sf-menu li a:hover {text-decoration: none;}
.sf-menu li li a:hover { color:#333; text-decoration: none}
.sf-menu li.current-menu-item a, .sf-menu li.current-menu-parent a, .sf-menu li.current_page_parent a, .sf-menu li.current_page_item a { color:#fe8f8c;}

.sf-menu li:hover ul, .sf-menu li.sfHover ul { top:110px;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul { top: -999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 195px; top:-3px; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 10em; top: 0; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0; z-index:999999; width:195px;}
.sf-menu li:hover { outline: 0; }
.sf-menu li li a:hover { color:#000 !important; }
.sf-menu > li:hover a { color:#fe8f8c;}
.sf-menu > li:hover ul li a { color:#6b7e92; background: #fff; border-bottom:1px solid #ececec;}
.sf-menu > li:hover ul li:last-child a { border-bottom:0;}
.sf-menu > li:hover ul li a:hover { color:#333;}
.sf-menu ul {border-top: 5px solid #fe8f8c; background:#fff; -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.32);-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.32);box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.32);}

/* ==================
   6 = Home Page
   ================== */

/* Header ---------------------- */
.header { border-bottom: 1px solid #e8e8e8; width:100%; text-align: left; margin:0; padding:0; background:#f6f6f6;}
.logo {text-align: left;  margin:0 auto; padding-top:25px;}
.header h1 {margin: 0; text-align: left; padding:0;}
.header h1 a { text-decoration: none; color:#000; }
.bigline {height:3px; background: url(images/line.png) repeat-x; padding:0; margin:0;}
.bigline-top-is-sticky {height:3px; background: url(images/line.png) repeat-x; padding:0; margin:154px 0 0;}

/* Home Slider Texts  ---------------------- */
.rtext { position: absolute;top: 18%; left: 20%; right:20%; text-align: center;  color:#fff; font-weight:900; font-size:33px; z-index:999;}
.rtext span {display:block; font-size:53px; }
.rtext hr.small { border: solid #fe8f8c; border-width: 6px 0 0; clear: both;margin:0 auto; margin-top:30px; margin-bottom:20px; height: 0; max-width:150px; }
.startnow {margin:0 auto; display:table; text-align: center;}
.startnow  span {display:inline-block;  }
.startnow span a {color:#fff; font-size:15px; font-weight:normal; letter-spacing:2px;border:1px solid #fff; padding:8px 15px; }
.startnow  span a:hover {color:#ccc; text-decoration: none;}

/* Video Header */
#video-container {width: 100%;    display: block;    position: relative; margin-bottom:40px;}
#video-container:after {  content: "";    background: url(images/video_bg_pattern.png) repeat;    top: 0;    left: 0;    bottom: 0;    right: 0;    position: absolute;    z-index: 1;   }
video { width: 100%;}
.video-caption {position:absolute; top:25%; left:1%; right:1%; z-index:2;}
.video-caption h1 { text-align:center; color:#fff; font-size:59px; font-weight: 900; margin-bottom:25px; }
.video-caption p {text-align:center; color:#fff; font-size: 23px; font-weight: 200;}
.video-caption hr.small { border: solid #fff; border-width: 3px 0 0; clear: both;margin:0 auto; margin-top:30px; margin-bottom:20px; height: 0; max-width:150px; }

/* Features ----------------------- */
.features {padding:75px 0;}
.featuretext {padding:10px 30px 0;}
.features h2 {font-size:16px; color:#34495e; line-height: 1.4; }
.features p {color:#737c85;}

/* Numbers ----------------------- */
.numbers {padding:50px 0; background: url(images/numbers_section_bg.jpg); background-size: cover; }
.numbers h2 {font-size:19px; color:#fff; margin-bottom:60px;  line-height: 1.4}
.numbers .circle {	border-radius: 50%;	width: 210px;	height: 210px; background: #B0CFCF; border:16px solid #ADB4B9; text-align: center; margin:0 auto;}
.numbers .circle h3 {font-size:17px; color:#34495e; padding:21% 0 0; text-align: center}
.numbers .circle span {display:inline-block; font-size:43px; color:#fff; text-shadow: 1px 1px 1px #B0CFCF, 3px 3px 5px #ADB4B9;  font-weight: bold;}

/* Pricing Tables - Boxes */
.pricingboxes {padding:75px 0 55px; background: #f9f9f9 url(images/pattern.png) }
.pricingboxestext {padding:10px 30px 0;}
.pricingboxes h2 {font-size:19px; color:#34495e;}
.pricingboxes p {color:#737c85;}

.pricing-table {  border: 0;  margin: 0 0 1.25em 0;padding:0; }
.pricing-table * {    list-style: none;    line-height: 1; }
.pricing-table .title { font-family: 'Open Sans', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;    background: #3D3F40;  padding: 22px 0 12px;    text-align: center; letter-spacing: -2px;   color: #fff;    font-weight: 800;    font-size: 30px; -webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px;border-top-left-radius: 8px;border-top-right-radius: 8px; }
.pricing-table .price {  font-family: 'Open Sans', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;   background:#E3EDEE url(images/pattern1.png); text-align: center;    padding:5px 0 18px;    color: #7E8D97;    font-weight: 800;    font-size: 14px; -moz-box-shadow:    inset 0 0 10px #c1cbd1;   -webkit-box-shadow: inset 0 0 10px #c1cbd1;   box-shadow:         inset 0 0 10px #c1cbd1; }
.pricing-table .price span {    color: #7E8D97;    font-weight: 800;    font-size: 44px; display: block; padding:10px 0; }
.pricing-table .description { background: #3D3F40; text-align: center;    color: #fff;    font-size: 14px;    font-weight: normal;    line-height: 1.4; letter-spacing: 0; border-bottom: 0; padding-bottom:0;}
.pricing-table .bullet-item {    background-color: #494B4C;    padding: 0.9375em;    text-align: center;    color: #fff;    font-size: 14px;    font-weight: normal;    border-bottom: solid 1px #5a5c5d; }
.pricing-table .cta-button {    background: #3D3F40;    text-align: center;    padding: 8px 0; -webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px; }
.pricing-table .cta-button p {  padding-top: 14px; }
.pricing-table .cta-button span a {color:#fff; font-size:16px; font-weight:800; background: #78b3d4; padding:4px 15px; border-radius: 6px}
.pricing-table .cta-button span a:hover {background: #fe8f8c; text-decoration: none;}
.pricing-table .cta-button span i {margin-right:7px; color:#DFE9EF; }

/* Live Chat Call to Action button Homepage  ---------------------- */
.calltoaction {padding:25px 0; background:#E1EBED; color:#fff; margin-bottom:0; position: relative; border-top: 4px solid #dce5e7;}
.calltoaction:after, .calltoaction:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.calltoaction:after { border-color: rgba(235, 236, 238, 0); border-bottom-color: #E1EBED; border-width: 30px; margin-left: -30px; }
.calltoaction:before { border-color: rgba(204, 204, 204, 0); border-bottom-color: #dce5e7; border-width: 36px; margin-left: -36px; }
.calltoaction h2 {font-size:19px; color:#3D3F40; margin-bottom: 30px}
.calltoaction-button {	-moz-box-shadow: 0px 10px 14px -7px #ccc;	-webkit-box-shadow: 0px 10px 14px -7px #ccc;	box-shadow: 0px 10px 14px -7px #ccc;	background-color:#78b3d4;	-moz-border-radius:4px;	-webkit-border-radius:4px;	border-radius:4px;	border:1px solid #5590b1;	display:inline-block;	cursor:pointer;	color:#ffffff;	font-size:20px;	font-weight:bold;	padding:6px 40px;	text-decoration:none;	text-shadow:0px 1px 0px #5b8a3c;}
.calltoaction-button:hover {	background-color:#333;	color:#ffffff; text-decoration: none;border:1px solid #000;text-shadow:none;}
.calltoaction-button:active {	position:relative;	top:1px;}

/* Testimonial Section  ---------------------- */
.testimonialsection  { padding:  50px 0 25px; background: url(images/testimonials_section_bg.jpg) top center fixed;   }
.testimonialsection h2 {font-size:19px; color:#fff; text-align: center;}
.testimonial-content { padding:0; text-align: center;}
.testimonial-content p {color:#fff; padding:15px 60px; font-size:17px; text-align: center; margin-bottom:50px;}
.testimonial-content p:before { content: "\f10d";  font-family: FontAwesome; font-size:28px; margin-bottom:10px; display: block; color:#fff; color: rgba(255,255,255,.1);}
.testimonial-content .whoclient h5 {font-size:17px; color:#fff; margin-top:10px; }
.testimonial-content .whoclient h5 a {color:#fe8f8c; }
.testimonialimg {text-align: center;}
.testimonial-content img {  width: 100px;  height: 100px;  border-radius: 50px;  -webkit-border-radius:50px;  -moz-border-radius: 50px; border: 7px solid transparent;    border-top-color: #C6D0D4; border-bottom-color: #C6D0D4; border-right-color: #C6D0D4;}


/* Video Tour ----------------------- */
.videotour {padding:75px 0 55px; background:#F9F9F9;}
.videotourtext {padding:10px 30px 0;}
.videotour h2 {font-size:19px; color:#34495e; padding:0; margin:0; line-height: 1.4}
.videotour p {color:#737c85;}
ul.chooseus {padding:0; margin:0; list-style: none}
ul.chooseus li {background:#F5F5F5; padding:10px; margin-bottom:5px; border-radius: 3px; font-size:14px;}
ul.chooseus li i {padding-right:10px; font-size:19px; color:#78b3d4;}

/* Home Page Horizontal Slider  ----------------------- */
.owl-controls {   position:absolute;   bottom:0;  right:1%; left:1%; z-index:99;}
.owl-theme .owl-controls .owl-buttons div{padding: 10px 20px;-webkit-border-radius: 0; margin:0;  -moz-border-radius: 0;   border-radius: 0;   background: #2C8B93; }
.owl-theme .owl-controls .owl-buttons .owl-prev{margin-right:1px;  }
.owl-theme .owl-controls .owl-buttons i { font-size:36px; font-style: normal}
.rtext-horizontal { position: absolute;top: 19%; left: 1%; right:1%; text-align: center;  color:#fff; font-weight:900; font-size:33px; z-index:999;}
.rtext-horizontal span {display:block; font-size:53px; }
.rtext-horizontal hr.small { border: solid #fe8f8c; border-width: 6px 0 0; clear: both;margin:0 auto; margin-top:20px; margin-bottom:10px; height: 0; max-width:150px; }


/* ==================
   7 = Inner Pages
   ================== */

/* Subheader -------------------- */
.subheader {position:relative;padding:0; margin:0; min-height:200px;}
.subheader.servers {padding:50px 0 70px; background:url(images/callus_bg.jpg) top center fixed;}
.subheader h3 {font-size:33px; font-weight:800; color:#fff; text-align: center;}
.subheader p {padding:0 80px; color:#fff; font-size:19px; margin-bottom:60px;}
.subheader .getstart {margin:0 auto; display:table; text-align: center;}
.subheader.shared {padding:50px 0 70px; background:url(images/shared_bg.jpg) top center fixed;}
.subheader.vps {padding:50px 0 70px; background:url(images/vps_bg.jpg) top center fixed;}
.subheader.domains {padding:50px 0 70px; background:url(images/domain_bg.jpg) top center fixed;}
.subheader.datacenter {padding:50px 0 70px; background:url(images/datacenter_bg.jpg) top center fixed;}
.getstart span {display:inline-block; border:1px solid #fff; padding:8px 15px; }
.getstart span a {color:#fff; font-size:15px; font-weight:normal; letter-spacing:2px; }
.getstart span a:hover {color:#ccc; text-decoration: none;}
.subheader.typography {padding:50px 0; background:url(images/typography_bg.jpg) top center fixed;}
.subheader.typography h3 {margin-bottom:25px;}
.subheader.typography p {margin-bottom:20px;}
.subheader.blog {padding:50px 0; background:url(images/blog_bg.jpg) top center fixed;}
.subheader.blog h3 {margin-bottom:25px;}
.subheader.blog p {margin-bottom:20px;}

/* Border Effect below the Titles ----------------------- */
.titleborder{  margin-top:25px;  text-align: center;}
.titleborder_left{  height:1px;  width:37%;  margin-left:13%;  margin-right:auto;}
.titleborder_right{  height:1px;  width:37%;  margin-left: auto;  margin-right: 13%;}
.titleborder_left, .titleborder_right {background:#dfdfdf;}
.titleborder_sign {  background: #fe8f8c;  width:14%;  height:4px;  position: absolute;  display: inline-block;  margin-top: -3px; left:43%; right:43%;}

/* Intro Text ----------------------- */
.sectionarea.arrow {padding:50px 0 0; position: relative; }
.sectionarea.arrow:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #ffffff; border-width: 30px; margin-left: -30px; }
.sectionarea h2 {font-size:19px; color:#34495e;}
.sectionarea p {color:#737c85;}
.sectionarea  ul {margin-top:50px; padding-bottom:40px;}
.sectionarea  ul li {text-align: center;}
.sectionarea  ul li i {color:#fff; text-align: center; font-size:60px; width:118px; height:118px; background:#78b3d4; border-radius:50%; padding:32px 0 0 0; }
.sectionarea  ul li h4 {font-size:19px; color:#34495e; font-weight:600;}
.sectionarea  h3 {font-size:22px; color:#34495e; font-weight:300;}
.sectionarea.shared img {-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;  }
.sectionarea.arrow.domains  ul li h4 {margin:18px 0 10px;}
.sectionarea.arrow.contact  ul.contactmethods li i {color:#fff; text-align: center; font-size:60px; width:118px; height:118px; background:#FE8F8C; border-radius:50%; padding:29px 0 0 0; }
.sectionarea.blog {padding:50px 0; }

/* Pricing Tables Alternative (shared hosting) */
.pricing-table-alt {  border: 0;  margin: 0 0 1.25em 0;padding:0; }
.pricing-table-alt * {    list-style: none;    line-height: 1; }
.pricing-table-alt .title {    background: #3D3F40;  padding: 16px 0;    text-align: center; letter-spacing: -1px;   color: #fff;    font-weight: 800;    font-size: 23px;  }
.pricing-table-alt.features .title {background:#C07474;}
.pricing-table-alt .price {    background:#E3EDEE url(images/pattern1.png); text-align: center;    padding:5px 0 18px;    color: #7E8D97;    font-weight: 800;    font-size: 14px; -moz-box-shadow:    inset 0 0 10px #c1cbd1;   -webkit-box-shadow: inset 0 0 10px #c1cbd1;   box-shadow:         inset 0 0 10px #c1cbd1; }
.pricing-table-alt .price.features {    background:#F5F5F5 url(images/pattern1.png);  }
.pricing-table-alt .price span {    color: #7E8D97;    font-weight: 800;    font-size: 44px; display: block; padding:10px 0; }
.pricing-table-alt .description { text-align: center;    color: #fff;    font-size: 14px;    font-weight: normal;    line-height: 1.4; letter-spacing: 0}
.pricing-table-alt .bullet-item {    background-color: #494B4C;    padding: 0.9375em;    text-align: center;    color: #fff;    font-size: 14px;    font-weight: normal;    border-bottom: solid 1px #5a5c5d; }
.pricing-table-alt.features .bullet-item {    background-color: #EDEDED;   text-align: left;    color: #333;  border-bottom: solid 1px #e1e1e1;}
.pricing-table-alt.features .bullet-item i { color:#666; cursor: pointer;}
.pricing-table-alt .bullet-item i { color:#FE8F8C; }
.pricing-table-alt .bullet-item i.fa-check { color:#78b3d4; }
.pricing-table-alt .cta-button {    background: #3D3F40;    text-align: center;    padding: 8px 0;}
.pricing-table-alt .cta-button.annually {display:none;}
.pricing-table-alt .cta-button p {  padding-top: 14px; }
.pricing-table-alt.features .cta-button {    background: #fff;  }
.pricing-table-alt .cta-button span a {color:#fff; font-size:16px; font-weight:800; background: #78b3d4; padding:4px 15px; border-radius: 6px}
.pricing-table-alt .cta-button span a:hover {background: #fe8f8c; text-decoration: none;}
.pricing-table-alt .cta-button span i {margin-right:7px; color:#DFE9EF; }
.pricing-table-alt .price ul.period {padding:0; margin:0; list-style: none; display:table; margin:0 auto;}
.pricing-table-alt .price ul.period li {padding:8px 13px 10px; background:#333; font-size:13px; float:left; font-weight:600;}
.pricing-table-alt .price ul.period li:first-child {background: #e3e3e3;  border: 1px solid #bbb;  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;  box-shadow: inset 0 0 1px 1px #f6f6f6;  color: #333;  line-height: 1;  text-align: center;  text-shadow: 0 1px 0 #fff;  -webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.pricing-table-alt .price ul.period li:last-child {background: #e3e3e3; border: 1px solid #bbb;  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;  box-shadow: inset 0 0 1px 1px #f6f6f6;  color: #333;  line-height: 1;  text-align: center;  text-shadow: 0 1px 0 #fff;-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.pricing-table-alt .price ul.period li.colored {background: #78b3d4; text-shadow: 0 1px 0 #333;}
.annualprice {display:none;}
.pricing-table-alt .price ul.period li a {color:#333;}
.pricing-table-alt .price ul.period li a:hover {color:#000; text-decoration: none}
.pricing-table-alt .price ul.period li.colored a {color:#fff;}
.pricing-table-alt .price .note {font-size:13px; padding:16px 0; font-weight:600;}

/* Inner Pages ----------------------- */
.description p {padding:20px 80px; margin-bottom:40px; text-align: center;}
.planfeatures {padding:75px 0 55px; background:#F9F9F9;}
.planfeatures  h2 {font-size:19px; color:#34495e;}
.planfeatures ul {margin-top:50px;}
.featuretitle {font-size:19px; color:#34495e; line-height: 1.4; font-weight:600; margin-bottom:20px;}
.planfeatures ul li i {color:#fff; text-align: center; font-size:28px; width:62px; height:62px; background:#78b3d4; border-radius:50%; padding:18px 0 0 0; margin-right:12px;}


/* Datacenter Page */
.dcmap {text-align:center; padding:20px 0 60px;}
.facilities {padding:75px 0 0; background:#404040; text-align: center; }
.facilities  h2 {font-size:19px; color:#ccc; margin-bottom:60px;}

/* Datacenter Carousel Section  ---------------------- */
.datacenter-carousel-section  { padding:  50px 0 25px; background:#F4F4F4; -webkit-box-shadow: 0px -3px 16px 0px rgba(0, 0, 0, 0.45);-moz-box-shadow:    0px -3px 16px 0px rgba(0, 0, 0, 0.45);box-shadow:         0px -3px 16px 0px rgba(0, 0, 0, 0.45); }
.datacenter-carousel-section  h4 {margin:18px 0 10px;font-size:19px; color:#34495e; padding-left:15px;}
.datacenter-carousel-section  p {padding-left:15px;}
.datacenter-carousel-section i {color:#fff; text-align: center; margin-top:8px; font-size:40px; width:130px; height:130px; background:#FE8F8C; border-radius:50%; padding:45px 0 0 0; }
#datacenter-carousel  {padding:0 100px; position: relative}
#datacenter-carousel .item {margin-bottom:35px;}
.datacenter-carousel-section .carouselmask-container {    height: 225px;    width: 100%;    display: table;    table-layout: fixed;    margin-top: -225px;    z-index: 4;    position: absolute; }
.datacenter-carousel-section .carouselmask-left {    height: 225px;    display: table-cell;    background: -moz-linear-gradient(left, #f4f4f4 0%, #f4f4f4 33%, rgba(244, 244, 244, 0.2) 93%, rgba(244, 244, 244, 0.2) 100%);    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f4f4f4), color-stop(33%, #f4f4f4), color-stop(93%, rgba(244, 244, 244, 0.2)), color-stop(100%, rgba(244, 244, 244, 0.2)));    background: -webkit-linear-gradient(left, #f4f4f4 0%, #f4f4f4 33%, rgba(244, 244, 244, 0.2) 93%, rgba(244, 244, 244, 0.2) 100%);    background: -o-linear-gradient(left, #f4f4f4 0%, #f4f4f4 33%, rgba(244, 244, 244, 0.2) 93%, rgba(244, 244, 244, 0.2) 100%);  background: -ms-linear-gradient(left, #f4f4f4 0%, #f4f4f4 33%, rgba(244, 244, 244, 0.2) 93%, rgba(244, 244, 244, 0.2) 100%);    background: linear-gradient(to right, #f4f4f4 0%, #f4f4f4 33%, rgba(244, 244, 244, 0.2) 93%, rgba(244, 244, 244, 0.2) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#33f4f4f4',GradientType=1 ); }
.datacenter-carousel-section .carouselmask-right {    height: 225px;    display: table-cell;    background: -moz-linear-gradient(left, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.2) 7%, #f4f4f4 67%, #f4f4f4 100%);    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(244, 244, 244, 0.2)), color-stop(7%, rgba(244, 244, 244, 0.2)), color-stop(67%, #f4f4f4), color-stop(100%, #f4f4f4));    background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.2) 7%, #f4f4f4 67%, #f4f4f4 100%);    background: -o-linear-gradient(left, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.2) 7%, #f4f4f4 67%, #f4f4f4 100%);    background: -ms-linear-gradient(left, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.2) 7%, #f4f4f4 67%, #f4f4f4 100%);    background: linear-gradient(to right, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.2) 7%, #f4f4f4 67%, #f4f4f4 100%);    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33f4f4f4', endColorstr='#f4f4f4',GradientType=1 ); }
.datacenter-carousel-section .carouselmask-center {    height: 225px;    display: table-cell;    width: 600px; }
.owl-pagination {position: relative;z-index:9999;}

/* Domain Names Search Box ------------------------ */
.domainsearch{ background: #b6514e; padding:25px 0 ;border-bottom:5px solid #e6e6e6; }
.domainsearch p { font-size:14px; color:#333; padding:5px 0; margin:0;}
.formpadding {padding: 0px 10px;}
.domainsearch input[type="text"] { font-size:15px; padding: 10px; height:45px;  }
.domainsearch select { font-size:15px; padding: 10px;height:45px; background:#e8e8e8; }
.domainsearch input[type="button"] {float: left; background: #2E2F31; height:45px; color:#fff; font-weight:900; padding:6px; text-transform: uppercase;  width: 100%; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box;}
.domainsearch input[type="button"]:hover { background: #494B4C; }
.domainsearch input[type="submit"] {float: left; background: #2E2F31; height:45px; color:#fff; font-weight:900; padding:6px; text-transform: uppercase; width: 100%; border-radius: 4px; border:0; cursor: pointer; -ms-box-sizing: border-box; -khtml-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; box-sizing: border-box;}
.domainsearch input[type="submit"]:hover { background: #494B4C; }
.domainsearch select option span {color:#c00;}
.domainfeatures {padding:50px 0 55px; background:#F9F9F9;}
.domainfeatures  h2 {font-size:19px; color:#34495e; }
#featuretabs {padding-top:50px;}
.panel {background:#f7f7f7; border-radius:4px;}
ul.chooseus li span.label {background:#B6514E;  border-radius:4px; padding:3px 5px; color:#fff; margin-right:5px; font-size:12px; font-weight:600;}
.resp-tabs-container .featuretitle {font-size:19px; color:#34495e; line-height: 1.4; font-weight:600; margin-bottom:10px;}


/*-----------Typography Page -----------*/
.typography {padding:50px 0; }
ul.breadcrumbs {padding:10px; margin:0;}
button, .button {font-family: 'Open Sans', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; }
a.button:hover {text-decoration: none;}
button.dark, .button.dark {background:#3D3F40;}
button.dark:hover, .button.dark:hover {background:#000;}
button.pink, .button.pink {background:#BC7474;}
button.pink:hover, .button.pink:hover {background:#8f5454;}
table {width:100%;}


/* Google Map / Contact Page ---------------------- */
#maplocation img { max-width: none; height: auto; }
.gmap3{border-bottom: 6px solid #e6e6e6; width: 100%; height: 400px;}
.gmaplabels { color: #fff; background: #78B3D4; font-size: 12px; text-align: center; font-weight:bold; border: 1px solid #666; padding:7px; white-space: nowrap;}
.contactmore {padding:75px 0 55px; background:#f1f1f1;}
.contactmore h2 {font-size:19px; color:#34495e; padding:0; margin:0; line-height: 1.4}
.contactmore p {color:#737c85;}
#sendstatus { margin: 0;}
#contactform #submit {float: left; background: #666; margin-top:6px; color:#fff; font-size:14px; font-weight:900; padding:6px; text-transform: uppercase;  width: 20%!important; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box;}
#contactform #submit:hover { background: #494B4C; }
ul.no-bullet {margin:0 0 15px; padding:0; list-style:none;}
ul.no-bullet li {padding:1px 10px;}
.contactmore .panel {background:#fff}
.contactmore ul.chooseus li a {color:#000;}

/* Blog ---------------------- */
.sectionarea.blog h2 {font-size:36px;padding:0; font-weight:300; margin:0 0 8px;}
.sectionarea.blog h2 a {color:#3D3F40;}
.sectionarea.blog h2 a:hover {color:#818080; text-decoration: none}
.sectionarea.blog h3 {font-size:20px;padding:0; color:#666; font-weight:300; margin:10px 0; line-height: 1.3}
.sectionarea.blog .meta {letter-spacing:2px; margin:10px 0 15px; padding:10px 0 10px 2px; color:#666; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; font-size:14px; font-weight: 300;	text-transform: uppercase;}
.sectionarea.blog .meta i {padding:0 5px 0 10px; color:#fe8f8c;}
.sectionarea.blog .meta a {color:#3D3F40;}
.sectionarea.blog .entry p {margin-top:15px; color:#3D3F40; font-size:16px;}
.sectionarea.blog hr.separator { border: solid #e8e8e8; border-width: 1px 0 0; clear: both; margin: 40px 0; height: 0; }
#blogslider .item img{    display: block;    width: 100%;    height: auto;    }
ul.pagination {margin:0 auto; text-align: center; display:table;}
ul.pagination li:hover a, ul.pagination li a:focus { text-decoration: none }
ul.pagination li.current a {  background: #fe8f8c;}

/* widgetized areas sidebar  ---------------------- */

.sidebar {position: relative; padding:0 0 8px; margin:12px 0 5px;}
.sidebar #searchform {padding:15px 0 11px; margin:0;}
.sidebar #searchform input {background:#fff; border:1px solid #ccc; width:100%;  font-size:13px; color: #303038; height:28px;}
.sidebar #searchform button {background:#fe8f8c; margin-left:-2px; margin-top: 0; color:#fff; padding: 6px 7px 5px; font-size:12px; -webkit-border-top-right-radius: 4px;-webkit-border-bottom-right-radius: 4px;-moz-border-radius-topright: 4px;-moz-border-radius-bottomright: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.sidebar .widget {margin-bottom:30px;}
.sidebar .textwidget {padding:4px 0; margin:0; line-height:1.4;}
.sidebar h4 {margin:0; padding:0;}
.sidebar h4.widget_title { color:#fff; background:#3D3F40; font-size:14px; padding:9px 8px 8px; position: relative; font-weight:900;}
.sidebar input {margin:0; padding: 0 8px; height:27px;}
.sidebar button {margin:0; padding:0; border:0;}
.sidebar form {margin:0; padding:0}
.sidebar select {background-color: white; font-size:12px; font-family: inherit; border: 1px solid #cccccc; color:#333; display: block; margin:0 auto; margin-top:12px; margin-bottom:12px; padding: 4px; width: 100%;}
.sidebar ul { list-style: none; margin:0; padding:4px 0; }
.sidebar ul li {padding:7px 0; border-bottom:1px solid; border-color: #ecedee; font-size:14px; text-align: left}
.sidebar ul li:last-child { border-bottom:0;}
.sidebar ul li a { color:#303038}
.sidebar ul li a:hover { color:#fe8f8c; text-decoration: none}
.sidebar .portfoliowidget li {border-bottom:0; padding:3px;}
.sidebar .latestpostimg {float:left; width:25%;}
.sidebar .latestpostinfo {float:right; width:70%;}
.sidebar .latestpostinfo .latestposttitle {font-size:13px; color:#000; font-weight:bold; padding:4px 0 10px 8px; line-height:1.3;}
.sidebar .latestpostinfo .latestpostdate {font-size:10px; color:#999; padding-left:8px;}
.sidebar ul.children, .sidebar ul.sub-menu {padding-left:20px;}
.sidebar abbr {color:#999;}
.sidebar span a.rsswidget { color:#fff; padding-left:2px;}
.sidebar .rssSummary { padding-top:7px; line-height:1.3;}
.sidebar p.wp-caption-text {color:#666;}
.sidebar img.attachment-shop_thumbnail {max-width:50px; height:auto; float:right; padding-left:10px;}
.sidebar ul.product_list_widget li {overflow:hidden;}
.sidebar ul.product_list_widget li span.amount {display:block;}
.sidebar ul.product_list_widget li ins {display:block; background: none; text-decoration: none;}
.sidebar ul.product_list_widget li del span.amount  {display:none;}
.sidebar .screen-reader-text {display:none;}
.sidebar #wp-calendar {width:90%; margin:0 auto; margin-top:12px; margin-bottom:12px;}
.sidebar .tagcloud {padding: 17px 0 4px; overflow:hidden;}
.sidebar #searchform #searchsubmit {background:#fe8f8c!important; cursor:pointer; width:100%!important; margin:0 auto!important; text-align: center!important; float:none!important; margin-top:4px!important; color:#fff!important; padding: 3px!important; font-size:12px!important; }
p.tags {margin-top: 12px;}
p.tags a {background:#5D5D65; color:#fff; padding:2px 6px 3px; border:none; font-size: 13px; text-decoration: none; margin-bottom:2px;  display: inline-block; }
p.tags a:hover {background:#fe8f8c; color:#fff;}
.tagcloud {padding: 8px 0;}
.tagcloud a{position: relative; display: block; border: 0; float: left; padding: 5px 7px; margin: 0 3px 3px 0; color: #fff; background: #5D5D65; font-size:13px !important;}
.tagcloud a:hover {position: relative;background: #fe8f8c;border: 0; text-decoration: none; color:#fff;}

.single-section-container{padding-top:12px;}
.single-section-title{border-bottom:1px dotted #ccc; text-align:center; margin-bottom:23px;}
.single-section-title span.single-section-text{display:block; width:70px; padding:8px; background-color:#fff; margin:0px auto -17px;}
.sharing-buttons { padding:0; margin:0 auto; display:table;}
.sharing-buttons ul { list-style: none; margin:0; padding:0;  }
.sharing-buttons ul li { display:inline-block; padding:11px 7px 12px; margin:0;}
.sharing-buttons ul li i { color:#fff; text-align: center; font-size:16px; width:38px; height:38px; background:#78b3d4; border-radius:50%; padding:12px 0 0 0;}
.sharing-buttons ul li:hover i { background:#fe8f8c;}
.sharing-buttons ul li a {color:#fff; font-size:17px; }
.sharing-buttons ul li a:hover {color:#fe8f8c; }


/* Author box */
.author-wrap {position: relative;  overflow:hidden; background:#fff;  border:1px solid #e8e8e8; padding:20px; margin:35px 0;  border-radius: 3px;}
.author-gravatar {margin: 0;line-height: 1;}
.author-gravatar img {border: 6px solid #f1f3f5;}
.author-title {color: #303038;display: block;font-size: 15px;line-height: 1.5;margin: 0 0 15px; padding: 0 0 10px; border-bottom:1px solid #e8e8e8;}
.author-title h4 {padding:0; margin: 0;}
.author-title a {color: #000;text-decoration: none;}
.author-title a:hover, .author-title a:focus {color: #000;text-decoration: none;}
.author-description {display: block; margin: 0 0 5px;}
.author-description p {margin: 0;}
.authorsocial ul { float:left; list-style: none; margin-top:17px; margin-left:0; padding:0; }
.authorsocial ul li { float:left; margin-right:5px;  font-size:11px;}
.authorsocial ul li a { padding:6px 8px; margin-top:-3px; color:#303038; background:#e8e8e8;}
.authorsocial ul li a:hover { background:#fe8f8c; color:#fff; }

/* Comments */
.comments { background:#fff; border:1px solid #e8e8e8; border-radius: 3px;}
#thecomments {margin-top: 0;}
#thecomments h2.comment-title { color:#303038; background:#f1f3f5; font-size:16px; padding: 12px; position: relative; margin:0;}
#addcomments {margin-top: 0;}

/* Comments List */
ol.commentlist, ol.pingbacklist, .commentspagination, .nocomments, #addcomments { margin: 0;  padding: 0 20px;}
#addcomments {padding-bottom:10px; padding-top:10px;}
.commentsform {margin-top:35px; background:#fff; border:1px solid #e8e8e8; border-radius: 3px;}
.commentlist .comment-body{ padding: 0; margin: 0;  position: relative;    border-top: 0;}
.comment-body .reply{ margin-top:15px;}
.comment-body a:hover{  text-decoration: underline;}
.comment-body a.comment-reply-link {background:#fe8f8c; margin: 0 0 0 12px; text-decoration:none; color:#fff; padding: 3px 8px 4px; font-size:11px; border:0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.comment-body a.comment-reply-link:hover {  background: #000;}
ol.commentlist li, ol.pingbacklist li{  margin-top:20px;  list-style: none;    padding: 20px 0;     background:#fff;  border-bottom: 1px solid #e9e9e9;}
ol.commentlist li ul.children {margin-bottom: 0px !important;    margin-top: 25px !important;}
ol.commentlist li ul.children li{ border-bottom: 0; padding-left: 20px  !important; margin: 10px 0; border-left:1px solid #e8e8e8;}
ol.commentlist li ul.children comment-body{ padding: 15px 0 5px;  margin: 10px 0 0; position: relative;}
.reply {margin-bottom:25px;}
ol.commentlist img.avatar, ol.pingbacklist img.avatar { margin-right:20px; float:left; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
ol.commentlist .comment-author, ol.pingbacklist .comment-author { line-height: 25px; border:0; width:100%; }
.comment-body cite.fn{  font-style: normal;   color: #000;}
.comment-time{  font-size: 12px;  font-style: normal;    color: #ccc;}
.commentmetadata {  clear: both;    padding: 0;    margin: 0;}
.commentmetadata a{ margin: 0;  color: #000;    text-decoration: underline;}
.comment-body p{  margin: 5px; padding:0 10px;}
.comment-body .comment-author.vcard{  margin: 0;}
.comment-body ul, .comment-body ol {padding:0; margin:0;}
.comment-body ul li, .comment-body ol li {padding:7px 0; margin:0; border:0;}
.comment-body ul li ul, .comment-body ol li ol {padding:7px 0 7px 7px; margin:0; border:0;}
#reply-title { margin:10px 0; padding:0 0 5px; font-weight:normal; font-size:26px; line-height:1.3; display: block; margin-bottom:-2px; font-weight: 700;}
form#commentform textarea {min-height:150px; border:1px solid #ccc;}
form#commentform input {border:1px solid #ccc;}
form#commentform input#submit, .wpcf7-submit {background:#fe8f8c; margin-top: 0; color:#fff; padding: 6px 6px 7px; font-size:14px; border:0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
form#commentform input#submit:hover, .wpcf7-submit:hover {  background: #303038;}

/* ==================
   8 = Footer
   ================== */
.footer {padding:35px 0; background:#494B4C;}
.footer h2 {font-size:17px; color:#fff; padding:0; margin:0 0 20px; font-weight:900;}
.footer ul {padding:0; margin:0; list-style:none;}
.footer ul li {padding:4px 0; font-size:13px; color:#ccc;}
.footer ul li i {padding-right:10px; font-size:19px; color:#C07474;}
.footer ul li a {color:#ccc;}
.footer ul li a:hover {color:#fe8f8c; text-decoration: none}
.footer ul.contact li {margin-bottom:7px;}
.footer p {color:#ccc; font-size:13px;}
.footer hr { border: solid #494B4C; border-width: 7px 0 0; clear: both; margin: 11px 0; height: 0; }

/* MailChip Newsletter Form Styling  ----------------------- */
#mc-embedded-subscribe-form {padding:0!important; margin:0!important;}
#mc-embedded-subscribe-form input.email {width:100%!important;}
#mc-embedded-subscribe-form input.button {float: left; background: #2E2F31; margin-top:10px; color:#fff; font-size:12px; font-weight:900; padding:12px; text-transform: uppercase;  width: 100%!important; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box;}
#mc-embedded-subscribe-form input.button:hover { background: #C07474; }

/* Copyright ----------------------- */
.copyright {padding:0; background:#3D3F40;}
.copyright p {padding:13px 0; margin:0; color:#ccc; font-size:13px;}

/* Social Icons List ---------------------- */
.social { padding:0; float:right;}
.social ul { list-style: none; margin:0; padding:0;  }
.social ul li { display:inline-block; padding:11px 17px 12px; margin:0; border-right:1px solid #494B4C; }
.social ul li:first-child { border-left:1px solid #494B4C; }
.social ul li a {color:#fff; font-size:17px; }
.social ul li a:hover {color:#fe8f8c; }

#back-to-top { position:fixed; bottom:20px; right:20px; z-index:99; display:none; }
#back-to-top img { opacity: 0.5; }
#back-to-top img:hover { opacity: 1; }

/* MEDIA QUERIES */

@media only screen and (max-width: 640px) {
.columns.hostingfeatures {display:none;}
}
@media only screen and (min-width: 641px) and (max-width: 959px) {
.columns.hostingfeatures {display:block;}
}

@media only screen and (max-width: 767px) {
.login-container {max-width: 300px; width:100%;}
.login-form {padding:10px 0;}
.topsticky {position:relative; z-index:-1;}
.bigline-top-is-sticky {height:3px; background: url(images/line.png) repeat-x; padding:0; margin:0;}
.subheader.hide-for-small .flexslider, .subheader.hide-for-small .rtext, .subheader.hide-for-small .owl-carousel .item,
.subheader.hide-for-small .owl-buttons {display: none;}
.subheader.hide-for-small {min-height:1px;}
.top-list, .top-list-right {float:none; display:table; margin:0 auto;}
.top-list > li { padding:13px 5px 0; font-size:11px;   }
.top-list > li:last-child {display:none; }
.top-list > li i { padding-right:2px; }
.top-list-right > li { padding:10px 5px 15px; font-size:11px;   }
#navigation {display:none;}
.slicknav_menu {display:block; font-size:13px; font-weight:500; background:#3D3F40;  border-bottom:1px solid #494B4C; top: 0; z-index:9999;}
.slicknav_btn {font-size:16px; background:#C5645B; border-radius:5px; padding:7px 10px; display:table; margin:8px auto; float:none; }
.slicknav_nav a {text-transform: uppercase; font-size:13px; font-weight:500;}
.slicknav_nav a:hover {-webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius:0!important; background:#494B4C!important; color: #fff; }

 .slicknav_nav a {font-size: 14px;}
  .slicknav_nav a:hover {text-decoration: none;}
.logo {padding-bottom:30px; margin-top:25px; text-align: center}
.features h2 {text-align: center;}
.counters .columns, .footer .columns {margin-bottom:15px;}
.pricing-table .cta-button span a, .pricing-table-alt .cta-button span a {font-size:13px; padding:4px 9px;}
.testimonial-content p {padding:15px 10px; font-size:15px;}
.videotour h2 {text-align: center;}
.copyright p {text-align: center; font-size:10px;}
.social { float:none; display: table; text-align: center; margin: 0 auto;}
.social ul li { padding:6px 11px 7px; border-right:0;}
.social ul li:first-child {border-left:0;}
.numbers .circle {width:160px; height:160px;}
.numbers .circle h3 {font-size:15px; }
.numbers .circle span {font-size:29px; }
.pricing-table .title {font-size:17px; }
.pricing-table .cta-button span a {font-size:12px; padding:4px 6px;}
ul.chooseus li {font-size:11px;}
ul.chooseus li i {padding-right:4px; font-size:13px;}
.videotour h2 {font-size:16px; text-align: left; }
.subpagehead h1 {text-align: center; margin-bottom:10px;}
.description p {padding:20px; }
.featuretitle {font-size:15px;}
.collapse {padding: 0 15px;}
.pricing-table-alt .bullet-item span {display:inline-block;}
ul.resp-tabs-list {        display: none;    }
h2.resp-accordion {        display: block;    }
.resp-vtabs .resp-tab-content {        border: 1px solid #e8e8e8;    }
.resp-vtabs .resp-tabs-container {        border: none;        float: none;        width: 100%;        min-height: initial;        clear: none;    }
.resp-accordion-closed {        display:none ;    }
.resp-vtabs .resp-tab-content:last-child {        border-bottom: 1px solid #e8e8e8 ;    }
.domainsearch input[type="text"], .domainsearch select {margin-bottom:5px;}
.subheader p {padding:0; font-size:14px; }
.getstart span {margin-bottom:10px;}
#datacenter-carousel  {padding:0;}
.datacenter-carousel-section .carouselmask-container, .datacenter-carousel-section .carouselmask-left, .datacenter-carousel-section .carouselmask-right, .datacenter-carousel-section .carouselmask-center {  display: none; }
#datacenter-carousel .item {text-align: center;}
blockquote.marginright {margin-right:0}
blockquote.marginleft {margin-left:0}
.sectionarea.blog .meta {line-height: 1.6}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.login-form {padding:20px 0;}
.top-list > li { padding:10px 5px; font-size:11px;   }
.top-list > li i { padding-right:2px; }
.top-list-right > li { padding:10px 5px; font-size:11px;   }
.sf-menu li {padding:35px 5px;}
.sf-menu a {font-size:12px;}
.sf-menu li li a { padding:5px 5px 4px;  }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { top:84px;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul { width:105px;}
.rtext, .rtext-horizontal { top: 8%; }
.rtext, .rtext-horizontal { font-size:26px;}
.rtext span, .rtext-horizontal span {font-size:36px;}
.rtext hr.small, .rtext-horizontal hr.small { display:none; }
.flex-direction-nav {display:none;}
.numbers .circle {width:170px; height:170px;}
.numbers .circle h3  {font-size:15px; }
.numbers .circle span {font-size:32px; }
.pricing-table .title {font-size:23px; }
.pricing-table .cta-button span a {font-size:13px; padding:4px 9px;}
.videotour h2 {font-size:16px; }
ul.chooseus li {font-size:11px;}
ul.chooseus li i {padding-right:4px; font-size:13px;}
.collapse {padding: 0 15px;}
.pricing-table-alt .price .note {font-size:10px; font-weight:400;}
.panel {padding:5px;}
#datacenter-carousel  {padding:0;}
.datacenter-carousel-section .carouselmask-container, .datacenter-carousel-section .carouselmask-left, .datacenter-carousel-section .carouselmask-right, .datacenter-carousel-section .carouselmask-center {  display: none; }
#datacenter-carousel .item {text-align: center;}
.owl-theme .owl-controls .owl-buttons div{padding: 5px 10px; }
.owl-theme .owl-controls .owl-buttons i { font-size:25px;}
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
 .login-form {padding:20px 0;}
.sf-menu li {padding:47px 12px;}
.rtext, .rtext-horizontal { top: 8%; }
.rtext, .rtext-horizontal  { font-size:26px;}
.rtext span,  .rtext-horizontal span {font-size:36px;}
.rtext hr.small, .rtext-horizontal hr.small { border-width: 4px 0 0; margin-top:20px; margin-bottom:15px; }
.flex-direction-nav {display:none;}
ul.chooseus li {font-size:13px;}
ul.chooseus li i {padding-right:7px; font-size:16px;}
.collapse {padding: 0 15px;}
#datacenter-carousel  {padding:0;}
.datacenter-carousel-section .carouselmask-container, .datacenter-carousel-section .carouselmask-left, .datacenter-carousel-section .carouselmask-right, .datacenter-carousel-section .carouselmask-center {  display: none; }
.owl-theme .owl-controls .owl-buttons div{padding: 5px 10px; }
.owl-theme .owl-controls .owl-buttons i { font-size:25px;}
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
.flex-control-nav {display:none;}
#datacenter-carousel  {padding:0 40px;}
}

@media only screen and (min-width: 1301px) and (max-width: 1681px) {
#datacenter-carousel  {padding:0 65px;}
}

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 40.0625em) {
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 64.0625em) {
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

  	@media screen and (max-width: 0em), screen and (min-width: 40em) {
	.show-for-small {
	display: none !important; } }


.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF; }
  .alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #43AC6A;
    border-color: #3a945b;
    color: #FFFFFF; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #f08a24;
    border-color: #de770f;
    color: #FFFFFF; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }
