/* Table of Contents
   - - - - - - - - -
    1. Global
    2. Header
    3. Home Page
    4. Elements
    5. Footer
    6. Blog
    7. Contact Page
    8. Media Queries
    - - - - - - - - -
*/
/* ============
   1 = Global
   ============ */

body {background:#fff; font-family: 'Droid Sans', Arial,Helvetica Neue,Helvetica,sans-serif;font-size: 12px; font-size: 1.2rem; color:#525151;}
h1 { font-size: 32px; }
h1 span { color:#d94a38;}
h2 { font-size: 28px; }
h3 { font-size: 23px; }
h4 { font-size: 18px; }
.colored { color:#d94a38;}
h5 { font-size: 15px;}
h6 { font-size: 13px; }
a { color: #da4a38; text-decoration: none; line-height: inherit; }
a:hover { color: #2d2d2d; }
a:focus { color: #da4a38; outline: none; }

a img {border:0;}

.dividerimg {max-width: 100%; height: 25px; background: url(../images/backgrounds/noisestrip.png); margin:20px 0;text-align: center;}
.margintop {margin-top:15px;margin-bottom:5px;}
.margintopfooter {margin-top:50px;}
.paddingtopbottom {padding:30px 0 0;}
.marginbottom {margin-top:5px;margin-bottom:15px;}
.paddingright {padding: 0 20px 25px 0;}
.nomargin {margin: 10px 0 6px;}
.photogallery img {background: #fff url(../images/backgrounds/noisestrip.png); padding:4px; border:1px solid #ccc;}
.rightborder {border-right:1px solid #dcdcdc;}
.leftborder {border-left:1px solid #dcdcdc;}


hr.grey { border: solid #dcdcdc; border-width: 1px 0 0; clear: both; margin: 12px 0 11px; height: 0; }
hr.black { border: solid #5d5d5d; border-width: 1px 0 0; clear: both; margin: 12px 0 11px; height: 0; }

/* ============
  2 = Header
   ============ */
/* Top Bar ---------------------- */
.topmenu { width: 100%; padding:5px 0; border-bottom:1px solid #e3e5e6; margin:0; background: #2d2d2d; }
ul.top { list-style: none; margin:0; padding:5px 0;border:none;color: #bbb }
ul.top li { float:left; display:inline; margin-right:27px; padding-top:4px; }
ul.top li.last {  margin-right:0; }
ul.top li a {color: #bbb}
ul.top li a:hover {color: #fff}
ul.top li.phone { background: url(../images/icons/phone.png) no-repeat 0 50%; padding-left:20px; }


ul.topright { list-style: none; margin:0; padding:5px 0;border:none;color: #bbb; float:right;}
ul.topright li { float:left; display:inline; margin-right:27px; padding-top:4px; }
ul.topright li.last {  margin-right:0; }
ul.topright li a {color: #bbb}
ul.topright li a:hover {color: #fff}
ul.topright li.support { background: url(../images/icons/support.png) no-repeat 0 50%; padding-left:20px; }
ul.topright li.login { background: url(../images/icons/login.png) no-repeat 0 50%; padding-left:20px; }
ul.topright li.chat { background: url(../images/icons/chat.png) no-repeat 0 50%; padding-left:20px; }
ul.topright li.contact { background: url(../images/icons/contact.png) no-repeat 0 50%; padding-left:20px; }

/* Header ------------------------ */
.header{ width: 100%; padding:35px 0; border-bottom:1px solid #eae8e8; margin:0;background: #f2f2f2 url(../images/backgrounds/head-stripe-bg.png); }
.logo {margin-top:5px;}
.navigation{ margin:0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;box-shadow: 0 0 14px 0px #e5e1e1; height:45px;  background: url(../images/backgrounds/menubg.png) repeat-x; border: 1px solid #e5e1e1;}
nav { position: relative; font-size:13px; margin: 0px auto; width: 100%;}
nav ul {list-style-type: none; padding:0; margin:0;}
nav ul li {float: left; position: relative;border-right:1px solid #e9e9e9; width:20% }
nav ul li.last {border-right:0;}
nav ul li a {text-align: center;display:block;text-decoration:none;padding: 12px 0;color:#2d2d2d;}
nav ul li a:hover { color:#d94a38; background: url(../images/arrow.png) no-repeat 0% 50%;}
nav ul li.active a { color:#d94a38; background: url(../images/arrow.png) no-repeat 0% 50%;}
nav ul li ul {display: none}
nav ul li:hover ul {display: block;position: absolute;list-style-type: none;margin:0;padding:0;z-index:999; background-color: #fff;	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);	box-shadow: 0 1px 3px rgba(0,0,0,.1);	padding: 3px 12px;	border-top-width: 1px;	border-right-width: 1px;	border-bottom-width: 1px;	border-left-width: 1px;	border-top-style: solid;	border-right-style: solid;	border-bottom-style: solid;	border-left-style: solid;	border-top-color: #c12727;	border-right-color: #dfdfdf;	border-bottom-color: #dfdfdf;	border-left-color: #dfdfdf;}
nav ul li:hover ul li {	padding:8px 0;	border-top: 1px solid #efefef;	float: none;	background: none;	width:160px;	border-right:0;}
nav ul li:hover ul li span{	padding:0;	margin:0;	font-size:11px;	color:#ccc;}
nav ul li:hover ul li:first-child { border-top: none; }
nav ul li:hover ul li a {color:#2d2d2d; font-size:12px; padding:0;  text-align: left;  background:transparent;}
nav ul li:hover ul li a:hover {color:#c12727; background:transparent;}
nav ul li.last:hover ul li {border-right:0;width: 95px;}
nav .dropdown {display: none;}

/* ========================
  3 = Home Page
   ======================== */
/* Slider Captions ---------------------- */
#mainslider {margin-bottom:30px;}
.flex-caption {position:absolute; top:17%; left:1%; right:1%;}
.flex-caption h1 { text-align:center; color:#fff; font-size:45px; font-weight: 900; margin-top:40px; margin-bottom:85px; }
.flex-caption h1 span {padding: 20px 0; border-top:1px solid; border-bottom:1px solid; border-color: #fff; border-color: rgba(255,255,255,0.1); color:#fff;}
.flex-caption h4 {text-align:center; color:#fff; font-size: 22px; font-weight: normal;}
.flex-caption h6 {text-align:center; margin:75px 0 25px;}
.flex-caption h6 span { padding: 14px 26px;  font-size: 14px;  line-height: 100%;  text-shadow: 0 1px rgba(0, 0, 0, 0.4);  color: #fff;  display:inline-block;  vertical-align: middle;  text-align: center;  cursor: pointer;  font-weight: bold;  transition: background 0.1s ease-in-out;  -webkit-transition: background 0.1s ease-in-out;  -moz-transition: background 0.1s ease-in-out;  -ms-transition: background 0.1s ease-in-out;  -o-transition: background 0.1s ease-in-out;  text-shadow: 0 1px rgba(0, 0, 0, 0.3);  color: #fff;  -webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;background: #c44747;  box-shadow: 0px 3px 0px 0px #7b2727;}
.flex-caption h6 span a {color:#fff; }
.flex-caption h6 span:hover {background-image: url(../images/backgrounds/buttonstrip.png);}
.flex-caption h6 span:hover a {color:#fff; text-decoration: none}

/* Pricing Boxes ------------------------ */

.pricingbox {padding:20px 0 0 0;width:100%; margin-bottom:5px;}
.pricingbox ul li{padding:2px;font-size:12px;color:#fff}
.pricingbox p{margin:0;padding:8px 0;}
.pricingbox .elements{margin:0;}
.pricingbox .title{text-align:center;font-size:19px;line-height:1.5em;margin:0;padding:0;color:#fff;}
.pricingbox h4 {color:#fff;font-size:26px;margin:0 0 3px 0;padding:0}
.pricingbox span {color:#fff;font-size:11px;}
.pricingbox .ribbon{position:absolute; top:0; right:15px;}

div.panel.blue { background: #0b5777 url(../images/pricingbox/slide1.jpg) repeat-x top center; color: #fff; border-color: #217798; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); padding:12px 0; }
div.panel.blue .button { background: #1d7c9c; border: none; color: #fff; text-shadow: none; font-size:13px;}
div.panel.blue .button:hover { background: #186a9d; }
.pricingbox .price.blue{margin:0 auto; margin-top:7px; margin-bottom:7px; text-align:center;padding:7px 0;  background: #217798 url(../images/pricingbox/cross.png);text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);}

div.panel.green { background: #42783a url(../images/pricingbox/slide2.jpg)  repeat-x top center; color: #fff; border-color: #5f8e58; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); padding:12px 0;}
div.panel.green .button { background: #64905d; border: none; color: #fff; text-shadow: none; font-size:13px;}
div.panel.green .button:hover { background: #518149; }
.pricingbox .price.green{margin:0 auto; margin-top:7px; margin-bottom:7px; text-align:center;padding:7px 0;  background: #5f8e58 url(../images/pricingbox/cross.png); text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);}

div.panel.orange { background: #bc4a05 url(../images/pricingbox/slide3.jpg) repeat-x top center; color: #fff; border-color: #de8529; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); padding:12px 0; }
div.panel.orange .button { background: #df913e; border: none; color: #fff; text-shadow: none; font-size:13px;}
div.panel.orange .button:hover { background: #d48633; }
.pricingbox .price.orange{margin:0 auto; margin-top:7px; margin-bottom:7px; text-align:center;padding:7px 0;  background: #dc7f1f url(../images/pricingbox/cross.png); text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);}

/* Call Out ------------------------ */
.panel.callout { color: #2d2d2d; padding:18px; background: #fff url(../images/backgrounds/noisestrip.png); border: 0;
.calloutbutton {text-align: right}
-webkit-box-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
-moz-box-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
-webkit-transition: ll 0.12s ease-out
-moz-transition: ll 0.12s ease-out}
.panel.callout h1 { font-size:18px; margin-top:20px;}
.panel.callout p { font-size:13px;}
.panel.callout .button { background: #da4a38; color: #fff; text-shadow: none; margin:0; border:0;}
.panel.callout .button:hover { background: #2d2d2d; }

/* Testimonials ------------------------ */
dl.tabs.pill { border-bottom: none; margin:5px 0 0 0; }
dl.tabs.pill dd { margin-right: 10px; }
dl.tabs.pill dd:last-child { margin-right: 0; }
dl.tabs.pill dd a {  -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #e6e6e6; height: 26px; line-height: 26px; color: #666; }
dl.tabs.pill dd.active { border: none; margin-top: 0;background: #fff; }
dl.tabs.pill dd.active a { background-color: #2d2d2d; border: none; color: #fff; }
dl.tabs.pill.contained { border-bottom: solid 1px #eee; margin-bottom: 0; }

@media only screen and (max-width: 767px) {
dl.tabs.pill { height: auto; border-right: 0; padding-right:0; margin:10px 0; border-bottom:0;}
dl.tabs.pill dt, dl.tabs.pill dd { float: none; height: auto; }
dl.tabs.pill dd { border-left: 0px solid #cccccc;margin-bottom:2px; width:100% }
dl.tabs.pill dd a { background: #f2f2f2; border: none; color: #555; display: block;  height: auto; line-height: 1; padding: 10px; margin:0; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
dl.tabs.pill dd a:hover { background: #da4a38;color: #fff; }
dl.tabs.pill dd.active { margin-top: 0; border: none;  }
dl.tabs.pill dd.active a { background: #da4a38; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; font-weight:normal;  padding: 10px; }
dl.tabs.pill dd:first-child a.active { margin: 0; }
}


.partners {background: #fff; padding:15px 0; margin-top:50px; border-top:1px solid #f7f6f6;}
#datacenter-partners .item{    margin: 3px; text-align: center   }


/* ========================
  4 = Elements
   ======================== */
/* Buttons ------------------------ */
.button {  width: auto; cursor: pointer; display: inline-block; line-height: 1; margin: 0; outline: none; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; background:#d74937;-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #2d2d2d}
.search{  width: auto; cursor: pointer; display: inline-block; line-height: 1; margin: 0; outline: none; padding: 10px 20px 9px; position: relative; text-align: center; text-decoration: none; background:#d74937;
    border:0; margin-left:-2px; color:#fff; font-size:13px;}
.button.green {  background:#6a9564;-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); border:1px solid #2d2d2d}
.button.gray {  background:#818181;-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #2d2d2d}
.button.red {  background:#c00;-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #2d2d2d}
.button:hover { background: #2d2d2d; color:#fff }
.button.noborder { background: #da4a38; border: none; color: #fff; text-shadow: none; margin:0; border:0;}
.button.noborder:hover { background: #2d2d2d; color:#fff }

/* Blockquotes ---------------------- */
blockquote, blockquote p { line-height: 1.5; color: #6f6f6f; }
blockquote { margin: 0 0 10px 0; padding: 20px; background: #f5f5f5; }
blockquote cite { display: block;  color: #555555; padding-bottom:10px; border-bottom:1px solid #dcdcdc; margin-bottom:10px; font-weight:400; font-size:13px; }
blockquote cite a, blockquote cite a:visited { color: #555555; }
blockquote.marginright {margin-right:20px; border-left:3px solid #d94a38}
blockquote.marginleft {margin-left:20px; border-left:3px solid #d94a38}
blockquote.white {border-left:3px solid #d94a38; background:#fff; padding:10px;}

/* Breadcrums ---------------------- */
ul.breadcrumbs { display: block; padding: 6px 10px 7px; border-bottom: 1px solid #e9e9e9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; margin-top:20px; }
ul.breadcrumbs li { margin: 0; padding: 0 12px 0 0; float: left; list-style: none; }
ul.breadcrumbs li a, ul.breadcrumbs li span { text-transform: uppercase;  padding-left: 12px; }
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span { padding-left: 0; }
ul.breadcrumbs li:before { content: "/"; color: #aaa; }
ul.breadcrumbs li:first-child:before { content: " "; }
ul.breadcrumbs li.current a { cursor: default; color: #333; }
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus { text-decoration: underline; }
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus { text-decoration: none; }
ul.breadcrumbs li.unavailable a { color: #999; }
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }

/* Tabs ---------------------- */
dl.tabs.vertical { height: auto; border-right: 1px solid #dcdcdc; padding-right:30px; margin-top:10px; border-bottom:0;}
dl.tabs.vertical dt, dl.tabs.vertical dd { float: none; height: auto; }
dl.tabs.vertical dd { border-left: 0px solid #cccccc;margin-bottom:-2px; }
dl.tabs.vertical dd a { background: #fff url(../images/backgrounds/vertical-tab-bg-close.png) no-repeat top right; border: none; color: #555; display: block;  height: auto; line-height: 1;padding:13px 0 20px 10px; margin:0; }
dl.tabs.vertical dd a:hover { background: #fff url(../images/backgrounds/vertical-tab-bg.png) no-repeat top right;color: #fff; }
dl.tabs.vertical dd.active { margin-top: 0; border: none;  }
dl.tabs.vertical dd.active a { background: #fff url(../images/backgrounds/vertical-tab-bg.png) no-repeat top right; border: none; color: #fff; margin: 0; position: static; top: 0; font-weight:normal; padding:13px 0 20px 10px }
dl.tabs.vertical dd:first-child a.active { margin: 0; }

dl.tabs { border-bottom: solid 1px #e6e6e6; display: block; height: 40px; padding: 0; margin-bottom:10px; }
dl.tabs.contained { margin-bottom: 0; }
dl.tabs dt { color: #b3b3b3; cursor: default; display: block; float: left; font-size: 13px; height: 40px; line-height: 40px; padding: 0 9px 0 20px; width: auto; text-transform: uppercase; }
dl.tabs dt:first-child { padding: 0 9px 0 0; }
dl.tabs dd { display: block; float: left; padding: 0; margin: 0; }
dl.tabs dd a { background: #e9e9e9 url(../images/backgrounds/open-tab-bg.png) repeat-x; border: none; color: #555;  height: 40px; line-height: 40px; padding: 0px 21px; margin: 0 3px; }
dl.tabs dd.active { background: #da4a38;color: #fff; margin-top: 0;border: 0; }
dl.tabs dd.active a { cursor: default; background: #d34432 url(../images/backgrounds/close-tab-bg.png) repeat-x; color: #fff; border: none; font-weight: bold; margin:0; }
dl.tabs dd:first-child { margin-left: 0; }

/* VPS page Slider Order ---------------------- */
.ui-slider {position: relative; text-align: left; background: #666 url(../images/backgrounds/head-stripe-bg.png); -moz-border-radius: 5px; border-radius: 5px; left: 0; margin-top:30px;}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 60px; height: 32px; cursor: pointer; background: url(../images/slider/selector.png); padding-top: 6px;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; display: block; border: 0; background-position: 0 0; background: #da4a38 url(../images/backgrounds/head-stripe-bg.png); -moz-border-radius: 5px; border-radius: 5px; }
.ui-slider a {outline:none;}
.ui-slider-horizontal { height: 22px; margin-bottom:8px;}
.ui-slider-horizontal .ui-slider-handle { top: -12px; margin-left:-30px;}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
#vps-slider {width: 100%;position: relative;margin: 0;padding:0 35px 15px;}
.features {display:none;overflow: hidden;margin:0 auto;position: relative; width:100%;margin-top:10px; margin-bottom:25px;}
.features h6 {margin: 0; color: #fff; font-size: 12px; font-weight: 700;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;box-shadow: 0 0 14px 0px #454444; background: #666 url(../images/backgrounds/head-stripe-bg.png); border: 1px solid #454444; padding:10px 4px; text-align:center;}
.features h6.diffbg {background: #da4a38 url(../images/backgrounds/head-stripe-bg.png); font-size: 17px;}
ul.plans { list-style: none; padding:0; margin:0 0 70px 0;}
ul.plans li { float:left; display:inline; margin-right:120px; padding:5px; font-size:12px; text-shadow: 0 2px 1px #000; background: #666 url(../images/backgrounds/head-stripe-bg.png);-moz-border-radius: 5px; border-radius: 5px;}
ul.plans li.last { float:left; display:inline; margin-right:0;}

/* Lists ---------------------- */
ul.arrow li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(../images/icons/arrow_right.png) no-repeat 0 50%; list-style: none;}
ul.bulletorange li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(../images/icons/bulletorange.png) no-repeat 0 50%; list-style: none;}
ul.smallarrow li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(../images/icons/smallarrow.png) no-repeat 0 50%; list-style: none;}
ul.domainprices li { padding: 6px 0 6px 20px; background: url(../images/icons/bullet.png) no-repeat 0 50%; list-style: none; font-size:15px;}
ul.domainprices li span { background: #e6e6e6; padding:4px 7px; margin-left:4px; -moz-border-radius: 5px;-webkit-border-radius: 5px; color:#2d2d2d2; float:right}
ul.bluearrow li { padding: 6px 0 6px 20px; border-bottom:1px solid #e6e6e6;  background: url(../images/icons/bluearrow.png) no-repeat 0 50%; list-style: none;}
ul.no-bullet-padding li { list-style: none; padding-bottom:8px;}

/* Accordion ---------------------- */
ul.accordion { margin: 0 0 22px 0; border-bottom: 1px solid #e9e9e9; }
ul.accordion li { list-style: none; margin: 0; padding: 0; border-top: 1px solid #e9e9e9; }
ul.accordion li ul {margin:0; padding:0}
ul.accordion li ul li{ padding: 6px 0 6px 20px; border-bottom:1px solid #e9e9e9; border-top:0; background-image: url(../images/icons/arrow_right.png); background-repeat: no-repeat;background-position: 0 50%; list-style: none; }
ul.accordion li .title { cursor: pointer; background: #f6f6f6; padding: 15px; margin: 0; position: relative; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; -webkit-transition: 0.15s background linear; -moz-transition: 0.15s background linear; -o-transition: 0.15s background linear; transition: 0.15s background linear; }
ul.accordion li .title h1, ul.accordion li .title h2, ul.accordion li .title h3, ul.accordion li .title h4, ul.accordion li .title h5 { margin: 0; }
ul.accordion li .title:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: transparent #9d9d9d transparent transparent; position: absolute; right: 15px; top: 21px; }
ul.accordion li .content { display: none; padding: 15px; }
ul.accordion li.active { border: 0 }
ul.accordion li.active .title { background: #d74937; padding-top: 13px; color:#fff; }
ul.accordion li.active .title:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: #fff transparent transparent transparent; }
ul.accordion li.active .content { background: white; display: block; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; }

/* Alerts ---------------------- */
div.alert-box { display: block; padding: 15px; font-weight: normal; font-size: 12px; background-color: #b3d9ff; border:1px solid #a0c3e6; border-left:10px solid #a0c3e6; color: #0678ea; margin-bottom: 17px; position: relative; }
div.alert-box.success { background-color: #a7dbd2; border:1px solid #91c2b9; border-left:10px solid #91c2b9; color: #027d68; }
div.alert-box.alert { background-color: #ffc3bb; border:1px solid #ebb4ac; border-left:10px solid #ebb4ac; color: #eb2005; }
div.alert-box.notice { background-color: #f5e9af; border:1px solid #e0d5a1; border-left:10px solid #e0d5a1; color: #9f8402; }
div.alert-box a.close { color: #333; position: absolute; right: 4px; top: -1px; font-size: 17px; opacity: 0.8; padding: 15px 8px; }
div.alert-box a.close:hover, div.alert-box a.close:focus { opacity: 0.4; }

/* Domain Names Search Box ------------------------ */
.domainsearch{ width: 100%; background: #f2f2f2 url(../images/backgrounds/head-stripe-bg.png); padding:15px 0 10px;border-top:5px solid #e6e6e6; }
.domainsearch p { font-size:17px; color:#2d2d2d; padding-top:3px;}
.panel.domain { background: #08759c url(../images/backgrounds/head-stripe-bg.png);-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);-webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);-moz-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);border:5px solid #e6e6e6;padding-bottom:35px;}
.panel.domain h1 { font-size:27px; margin:15px 0 30px 0; color:#fff; text-shadow: 2px 3px 3px #292929;  }
.formpadding {padding: 0px 10px;}
.panel.domain p { font-size:17px; color:#fff;}
.panel.domain .button { background: #da4a38; color: #fff; text-shadow: none; margin:0; border:0;}
.panel.domain .button:hover { background: #2d2d2d; }

/* ========================
  5 = Footer
   ======================== */
/* Footer ---------------------- */
.footer{ width: 100%; background: url(../images/backgrounds/footer_bg.png); padding:15px 0 15px;border-top:1px solid #5d5d5d; }
.footer h4 {color:#e0e0e0;}
.footer label {color:#fff; margin-bottom:15px;}
.footer a {color:#ccc;}
.footer a:hover {color:#fff;}

/* Footer / Social Buttons ---------------------- */
ul.social { list-style: none; padding:5px 0}
ul.social li { float:left; display:inline; margin-right:7px;}

/* Footer / Support List ---------------------- */
ul.supportlinks li { padding: 6px 0 6px 20px; border-bottom:1px solid #3f3f3f;  background-image: url(../images/icons/arrow_right.png); background-repeat: no-repeat;background-position: 0 50%; list-style: none;}

/* Icons to the footer ---------------------- */
ul.terms { list-style: none; margin:0; padding:5px 0;border:none;color: #bbb;float:right }
ul.terms li { float:left; display:inline; margin-right:27px; padding-top:4px; }
ul.terms li.termsofservice { background: url(../images/icons/terms-of-service.png) no-repeat 0 50%; padding-left:20px; }
ul.terms li.privacy { background: url(../images/icons/privacy.png) no-repeat 0 50%; padding-left:20px; }
ul.terms li.dmca { background: url(../images/icons/dmca.png) no-repeat 0 50%; padding-left:20px; }

/* ========================
  6 = Blog
   ======================== */
/* Blog Posts---------------------- */
.panel.light { padding:18px; background: #dc4b39 url(../images/backgrounds/noisestrip.png); border: 0;
-webkit-box-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
-moz-box-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
-webkit-transition: ll 0.12s ease-out
-moz-transition: ll 0.12s ease-out}
.date {position: absolute; right:33px; top: 18px; background: #d74937; padding:10px; font-size:17px; color:#fff;}
ul.bloginfo { display: block; padding:0; overflow: hidden; margin-top:15px; }
ul.bloginfo li { margin: 0 10px 0 0; float: left; list-style: none;text-transform: uppercase; padding:6px 12px;background-color: #ccc;	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#dddbdb));	background-image: -webkit-linear-gradient(top, #f8f6f6, #dddbdb);	background-image: -moz-linear-gradient(top, #f8f6f6, #dddbdb);	background-image: -ms-linear-gradient(top, #f8f6f6, #dddbdb);	background-image: -o-linear-gradient(top, #f8f6f6, #dddbdb);	background-image: linear-gradient(top, #f8f6f6, #dddbdb);	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f6f6', EndColorStr='#dddbdb');	border: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);	-moz-border-radius: .2em;	-webkit-border-radius: .2em;	border-radius: .2em;	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);}
ul.bloginfo li a {padding-left: 0; }
ul.bloginfo li:first-child a, ul.bloginfo li:first-child span { padding-left: 0; }
ul.bloginfo li.current a { cursor: default; color: #fff; }
ul.bloginfo li:hover a, ul.bloginfo li a:focus { text-decoration: underline; }
ul.bloginfo li.current:hover a, ul.bloginfo li.current a:focus { text-decoration: none; }
ul.bloginfo li.unavailable a { color: #999; }
ul.bloginfo li.unavailable:hover a, ul.bloginfo li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }

/* Pagination ---------------------- */
.panel.pagination { padding: 10px 8px 7px 8px; background: #dc4b39 url(../images/backgrounds/noisestrip.png); border: 0;
-webkit-box-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
-moz-box-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
-webkit-transition: ll 0.12s ease-out
-moz-transition: ll 0.12s ease-out}
ul.pagination { display: block; margin-left: -5px; }
ul.pagination li { float: left; display: block; color: #999;  margin-left: 5px; }
ul.pagination li a { display: block; padding: 1px 7px 1px; color: #555; background:#fff; border:1px solid #e6e6e6; }
ul.pagination li:hover a, ul.pagination li a:focus { background: #d74937; color: white; }
ul.pagination li.unavailable a { cursor: default; color: #999; }
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { background: transparent; }
ul.pagination li.current a { background: #d74937; color: white; font-weight: bold; cursor: default;  }
ul.pagination li.current a:hover { background: #d74937; }

/* COMMENTS LIST */
ol.commentlist { margin: 0 0 0 0; padding: 0 0 0 0; }
ol.commentlist li { position: relative; list-style: none; }
ol.commentlist li.comment { position: relative; margin-top: 20px; }
ol.commentlist li.comment:first-child { margin-top: 0; }
ol.commentlist > li { margin-left: 0; padding-left: 0; }
ol.commentlist li ul.reply { padding-left: 48px; margin-top:20px; }
ol.commentlist li .comment-author img.avatar { position: absolute; top: 0; left: 0;}
ol.commentlist li .comment-author span{ font-weight: bold; font-style: normal; font-size: 12px;  }
ol.commentlist li .comment-text { position: relative; padding: 9px 10px 10px 10px; margin: 0 0 0 80px; background-color: #f9f9f9; border: solid 1px #e7e7e7; overflow:hidden;}
ol.commentlist li .comment-text > p { margin-top: 10px !important; }

/* ========================
  7 = Contact Page
   ======================== */
/* Google Map / Contact Page ---------------------- */
#maplocation img { max-width: none; height: auto; }
.gmap3{border: 6px solid #e6e6e6; width: 100%; height: 400px;}
.gmaplabels { color: #fff; background: #d74937; font-size: 12px; text-align: center; font-weight:bold; border: 1px solid #666; padding:7px; white-space: nowrap;}
#sendstatus { margin: 0;}

/* ========================
   8 = Media Queries
   ======================== */

@media only screen and (max-width: 767px) {
ul.top li { width:100%;display:block; margin:0 auto; margin-bottom:3px; font-size:12px;  margin-right:0;  }
ul.topright li { width:100%;display:block; margin:0 auto; margin-bottom:3px;   }
ul.topright { float:left;}
.logo {margin:0 auto; text-align:center;}
nav .dropdown {display: inline-block; width:100%; margin:0 auto; margin-top:15px; margin-bottom:15px;}
nav ul.navigation { display:none;  }
nav ul li {float: left; display:block; width:100%}
.flex-caption{display:none}
.panel.callout {margin-top:15px;}
.calloutbutton {text-align: center; margin-top:12px;}
dl.tabs.vertical { height: auto; border-right: 0; padding-right:0; margin-top:10px; border-bottom:0;}
dl.tabs.vertical dt, dl.tabs.vertical dd { float: none; height: auto; }
dl.tabs.vertical dd { border-left: 0px solid #cccccc;margin-bottom:2px; }
dl.tabs.vertical dd a { background: #f2f2f2; border: none; color: #555; display: block;  height: auto; line-height: 1; padding: 10px; margin:0; }
dl.tabs.vertical dd a:hover { background: #da4a38;color: #fff; }
dl.tabs.vertical dd.active { margin-top: 0; border: none;  }
dl.tabs.vertical dd.active a { background: #da4a38; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; font-weight:normal;  padding: 10px; }
dl.tabs.vertical dd:first-child a.active { margin: 0; }
dl.tabs { height: auto; margin-top:10px; border:0; padding-right:0;}
dl.tabs dt, dl.tabs dd { float: none; height: auto; }
dl.tabs dd { border-left: 0px solid #cccccc;margin-bottom:2px; }
dl.tabs dd a { background: #f2f2f2; border: none; color: #555; display: block;  height: auto; line-height: 1; padding: 10px; margin:0; }
dl.tabs dd a:hover { background: #da4a38;color: #fff; }
dl.tabs dd.active { margin-top: 0; border: none;  }
dl.tabs dd.active a { background: #da4a38; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; font-weight:normal }
dl.tabs dd:first-child a.active { margin: 0; }
ul.bloginfo li {display:block; width:100%; margin-bottom:4px;}
ul.terms {float:left}
ul.terms li { display:block; width:100% }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
ul.top li { margin-right:0; }
ul.top li a {font-size:10px;}
nav { font-size:12px; width: 95%;}
.footer input[type="text"] {max-width:95%;}
.features h6 {font-size: 11px;}
}

@media only screen and (min-width: 768px) and (max-width: 1040px) {
.flex-caption {top:45px; }
.flex-caption h1 { font-size:24px;margin-top:10px; margin-bottom:35px; }
.flex-caption h1 span {padding: 10px 0;}
.flex-caption h4 {font-size: 16px;}
.flex-caption h6 { margin:25px 0 20px;}
.flex-control-nav {display:none;}
}

@media only screen and (min-width: 1041px) and (max-width: 1441px) {
.flex-caption {top:6%; }
}

@media only screen and (max-width: 959px) {
ul.plans {display:none}
}

