/* ======= Bootstrab RTL ======= */
@import url("bootstrap/bootstrap-rtl.min.css");

/* ======= Fonts ======= */

@font-face {
	font-family: 'JF-Flat';
	src: url(../fonts/JF-Flat/JF-Flat-regular.eot);
	src: url(../fonts/JF-Flat/JF-Flat-regulard41d.eot?#iefix) format('embedded-opentype'), url(../fonts/JF-Flat/JF-Flat-regular.woff) format('woff'), url(../fonts/JF-Flat/JF-Flat-regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Bein-Black';
	src: url('../fonts/bein-font/bein-ar-black.eot');
	src: local('☺'), url('../fonts/bein-font/bein-ar-black.woff') format('woff'), url('../fonts/bein-font/bein-ar-black.ttf') format('truetype'), url('../fonts/bein-font/bein-ar-black.svg') format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'Bein-Black';
	src: url('../fonts/bein-font/bein-ar-normal.eot');
	src: local('☺'), url('../fonts/bein-font/bein-ar-normal.woff') format('woff'), url('../fonts/bein-font/bein-ar-normal.ttf') format('truetype'), url('../fonts/bein-font/bein-ar-normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ======= General Styles ======= */

html, body {
	direction: rtl;
	font-family: 'Bein-Black', 'sans-serif';
	color: #24273a;
	font-size: 14px;
	background-color: #fff;
	line-height: 26px;
}

p {
	font-family: 'JF-Flat', 'sans-serif';
	font-size: 16px;
	color: #6e6e6e;
	line-height: 30px;
}

h1, h2, h3, h4, h5, h6, a, .navbar-main, section#header .logo-text, button, .panel-sidebar .panel-title, input, select, textarea, .clientalert {
	font-family: "Bein-Black", sans-serif;
	letter-spacing: 0px;
}

/*Links & Buttons*/

a, a.btn, .btn {
	font-weight: bold;
}

/*Top Header*/

.top-header .container:first-child ul {
	float: right;
}

.top-header .container ul:last-child {
	float: left;
}

.top-header .container:first-child ul li {
	margin-left: 15px;
	margin-right: 0px;
}

.top-header .container  ul.menu li {
	margin-right: 15px !important;
	margin-left: 0px;
}

.language-popover .popover-content li a {
	padding: 5px 40px 5px 0px;
}

/*Heder*/

header a.logo {
	float: right;
}

header a.logo b {
	letter-spacing: 0px;
}

header a.logo img {
	margin-left: 20px;
	margin-right: 0px;
	float: right;
}

nav.navbar {
	float: left;
}

.navbar-left {
	float: right !important;
}

header .menu li {
	padding: 0;
	margin-right: 30px;
	margin-left: 0px;
	position: relative;
}

ul.account-menu ul.dropdown {
	left: 0;
	right: auto;
}

ul.dropdown {
	left: auto;
	right: 0px;
}

/*Slider*/
section.slider .slick-slide img {
	float: right;
}

section.slider .slider-content {
	text-align: right;
}

section.slider .btn {
	float: right;
}

/*Home Shartcuts*/

.home-shortcuts .lead {
	text-align: right;
}

/*News*/

.date {
	margin-left: 10px;
	margin-right: 0px;
	float: right;
}

/*Guaratess*/

.guarate img {
	float: right;
}

.guaratess p {
	padding-left: 0px;
	padding-right: 65px;
}

/*Copyright*/
.copyright a.up {
	float: left;
}

.copyright a.up img {
	padding-right: 10px;
	padding-left: 0px;
}

/*Sidebar */
.sidebar .panel.panel-sidebar .panel-heading .fa {
	float: left;
}

/*After Login*/

.client-home-panels .btn {
	min-width: auto;
	padding: 5px 10px;
	line-height: initial;
	height: auto;
	color: #fff !important;
}

.tile .icon {
	left: 10px;
	right: auto;
}

.home-kb-search .form-control {
	padding-left: 0px;
	padding-right: 50px;
}

.home-kb-search i {
	position: relative;
	top: -35px;
	left: -20px;
	color: #777;
}

/*New Domain*/

.domain-promo-box i {
	margin-left: 15px;
}

.btn-input-padded-responsive {
	height: 50px;
}

#default-captcha-domainchecker .captchaimage {
	text-align: left;
}

/*******************/

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left !important;
}

.pull-md-right {
	float: right !important;
}

/*Media Query*/

@media (max-width:767px) {
	section.slider .slider-content {
    	text-align: center;
	}
	section.slider .btn {
	    float: none;
	}
	.footer {
	    text-align: right;
	}
	.home-shortcuts .col-sm-12.col-md-8{
		width: 100%;
	}
	a.mobile-menu-icon {
	    float: left;
	}
	.navbar-left {
	    float: none !important;
	}
	ul.account-menu ul.dropdown {
	    left: auto;
	    right: 0;
	}
	nav.navbar {
	    float: none;
	}
	#myNavbar{
		display: block;
		overflow-x: hidden;
	}
	.pull-md-right {
	    float: none!important;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	    float: none !important;
	}
	.dataTables_wrapper .dataTables_info {
	    padding: 9px 10px 5px;
	    overflow: hidden;
	}
	.dataTables_wrapper .dataTables_filter {
	    margin-top: 0px;
	}
}
