/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

/* ======= General Styles ======= */

body {
    color: #0c112a;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
}


/*Typography*/

p {
    font-size: 14px;
    color: #6a7483;
    line-height: 26px;
    transition: .5s;
}

.p-l {
    font-size: 16px;
    line-height: 30px;
}


/*Align*/

ul {
    margin: 0;
    padding: 0;
}

.h-80 {
    display: block;
    overflow: hidden;
    height: 80px;
}

.no-border {
    border: 0 !important;
}

.no-margin {
    margin: 0 !important;
}


/*Links*/

a {
    font-size: 14px;
    font-weight: 600;
    color: #0c112a;
    transition: .5s;
}

a:hover,
a:focus {
    color: #76e056;
    text-decoration: none;
    outline: 0;
}

a.btn i.icon {
    font-size: 16px;
}

.btn,
button[type=submit]{
    background: #76e056;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    text-transform: uppercase;
    border-color: transparent !important;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #0c112a;
    color: #fff;
    outline: 0;
}

.btn-no-bg {
    background: transparent;
    color: #0c112a;
}

.btn-no-bg:hover {
    background: transparent;
    color: #76e056;
}

button.btn {
    transition: .5s;
}


/*Tabs*/

.tabs {
    text-align: center;
}

ul.nav-tabs {
    border: 0;
    display: inline-block;
}

ul.nav-tabs>li>a {
    padding: 0 30px;
}


/*Forms*/

.form-control {
    height: 50px;
    background: transparent;
    border-radius: 2px;
    transition: .5s;
    color: #111;
    border: 0;
    box-shadow: 0 0 0;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0;
    border-color: #76e056;
}

.white-form .form-control {
    border-color: #fff;
    box-shadow: 0 0 0;
    color: #0c112a;
    height: 60px;
    background: #fff;
}

.white-form textarea.form-control {
    height: 230px;
    resize: vertical;
}

.form-control:focus {
    background: #76e056;
    border-color: #76e056;
    color: #fff;
}

.white-form .btn {
    width: 100%;
    background: #0c112a;
}

.white-form .btn:hover {
    background: #76e056;
}

.form-control:focus::-webkit-input-placeholder {
    color: #fff;
}


/* Firefox < 19 */

.form-control:focus:-moz-placeholder {
    color: #fff;
}


/* Firefox > 19 */

.form-control:focus::-moz-placeholder {
    color: #fff;
}


/* Internet Explorer 10 */

.form-control:focus:-ms-input-placeholder {
    color: #fff;
}


/*General*/

.main-color {
    color: #76e056 !important;
}

.main-color2 {
    color: #0c112a;
}

.main-red {
    color: red !important;
}

.white-color {
    color: #fff;
}

.second-bg {
    background: #f3f7f9 !important;
}

.icon {
    padding-left: 10px;
    font-size: 10px;
}

.start-price span.price {
    font-size: 22px;
}

.start-price span.per {
    font-size: 12px;
}

img.feature-star {
    position: absolute;
    top: 10px;
    right: 10px;
}

section {
    padding: 80px 0;
}

.title {
    padding-bottom: 30px;
}

.slick-slider {
    cursor: url(../img/drag.png) 16 9, ew-resize!important;
}

.slick-initialized .slick-slide:focus {
    outline: 0 !important;
}

img.m-auto {
    margin: 0 auto;
}


/*Dropdown menu*/

ul.dropdown{
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 3;
    overflow: hidden;
    border: 1px solid #f1fcee;
    border-top: 3px solid #76e056;
    border-radius: 2px;
    display: none;
}

ul.account-menu ul.dropdown{
	left: auto;
	right: 0;
}

ul.dropdown li {
    width: 230px;
    margin: 0 !important;
    border-bottom: 1px solid #f1fcee;
}

ul.dropdown li a {
    padding: 15px 30px !important;
    background: #fff;
    color: #0c112a;
}

ul.dropdown li a:hover {
    background: #76e056;
    color: #fff;
}

ul.menu>li:hover ul.dropdown {
    display: block;
}

.open-menu {
    display: block !important;
}


/*Mega Menu*/

ul.mega-dropdwon li {
    width: 350px;
}

ul.mega-dropdwon li img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    float: left;
}

ul.mega-dropdwon li .text {
    display: table-cell;
}

ul.mega-dropdwon li a p b {
    font-weight: 600;
}

ul.mega-dropdwon li a p {
    font-weight: normal;
    margin-bottom: 0;
}

ul.mega-dropdwon li a:hover p {
    color: #fff !important;
}


/* ======= Preloader ======= */

div.preloader {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999999;
    margin-top: 0;
    top: 0;
    text-align: center;
}

ul.preloader {
    text-align: center;
    font-size: 0;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -22px;
}

ul.preloader li {
    display: inline-block;
    width: 8px;
    height: 45px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    animation: colorbars 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
}

.one {
    background: #76e056;
    border-radius: 3px 0 0 3px;
}

.two {
    background: #f1fcee;
}

.three {
    background: #76e056;
}

.four {
    background: #f1fcee;
}

.five {
    background: #76e056;
    border-radius: 0 3px 3px 0;
}

ul.preloader li:nth-of-type(1) {
    animation-delay: 111ms;
}

ul.preloader li:nth-of-type(2) {
    animation-delay: 222ms;
}

ul.preloader li:nth-of-type(3) {
    animation-delay: 333ms;
}

ul.preloader li:nth-of-type(4) {
    animation-delay: 444ms;
}

ul.preloader li:nth-of-type(5) {
    animation-delay: 555ms;
}

@keyframes colorbars {
    to {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
}


/* ======= Top Header ======= */

.top-header {
    border-bottom: 1px solid #f1fcee;
}

.top-header .container:first-child ul {
    float: left;
}

.top-header .container ul:last-child {
    float: right;
}

.top-header a {
    font-size: 12px;
    padding: 15px 0;
    display: block;
}

.top-header .container:first-child ul li {
    margin-right: 15px;
    position: relative;
    padding: 0;
}

.top-header .menu li {
    margin-right: 0 !important;
    margin-left: 15px;
}

.top-header ul.dropdown li {
    width: 150px;
}

.top-header ul.mini-contact i.icon{
    padding-right: 10px;
    font-size: 14px;
}


/* ======= Header ======= */

.affix {
    border-bottom: 1px solid #f1fcee;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 999;
}

header.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #f1fcee;
}

nav.navbar {
    margin: 0;
    float: right;
}

nav.navbar {
    min-height: auto;
}

header .icon {
    font-size: 8px;
    color: #76e056
}

header a.logo {
    padding: 15px 0;
    float: left;
}

header a.logo img {
    margin-right: 20px;
    float: left;
}

header a.logo .logo-txt {
    float: right;
}

header a.logo b {
    font-size: 18px;
    letter-spacing: 2px;
}

header a.logo span {
    font-size: 12px;
    font-weight: 500;
    color: #6a7483;
    margin-top: -5px;
}

header .menu li {
    padding: 0;
    margin-left: 30px;
    position: relative;
}

header .menu li a {
    padding: 25px 0 30px 0;
    display: block;
}

header ul.dropdown li.active a:hover {
    color: #fff !important;
}

header ul.mega-dropdwon li.active a p {
    color: #76e056;
}


/* ======= Mobile Menu ======= */

a.mobile-menu-icon {
    padding-top: 25px;
    float: right;
}

a.mobile-menu-icon i.icon {
    font-size: 24px;
    padding: 0;
}

/* ======= Slider ======= */

section.slider .slick-slide img {
    float: left;
}

section.slider .slider-content {
    padding-top: 30px;
    text-align: left;
}

section.slider .btn {
    margin-top: 20px;
}

.slick-next {
    right: -50px;
}

.slick-prev {
    left: -50px;
}

.slick-next,
.slick-prev {
    background: #fff;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border-radius: 2px;
}

.slick-next:hover,
.slick-prev:hover,
.slick-next:focus,
.slick-prev:focus {
    background: #76e056;
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome;
    color: #111 !important;
    font-size: 10px;
}

.slick-prev::before {
    content: "\f060";
}

.slick-next::before {
    content: "\f061";
}

.slick-prev:hover::before,
.slick-next:hover::before,
.slick-prev:focus::before,
.slick-next:focus::before {
    color: #fff !important;
}


/* ======= Domain Search ======= */

.domain-search {
    background: #0c112a;
    padding: 50px 0px;
}

.domain-search p {
    padding-top: 5px;
}

.domain-search .form-group {
    margin-bottom: 0px;
}

.domain-search .form-control {
    height: 50px;
}

.domain-search .search-filter {
    position: relative;
}

.domain-search button.domain-select {
    background: #fff;
    color: #6a7483;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}

ul.dropdown-menu {
    left: 0;
    right: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 2px;
    border: 1px solid #f1fcee;
    border-top: 3px solid #76e056;
}

ul.dropdown-menu li {
    border-bottom: 1px solid #f1fcee;
}

ul.dropdown-menu li a {
    padding: 15px 30px !important;
    background: #fff;
    color: #0c112a;
    font-weight: 600;
    text-transform: uppercase;
}

ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:focus {
    color: #76e056;
    background: #fff;
}

.domain-search .btn {
    background: #76e056;
}


/* ======= Services and Features Blocks ======= */

.block {
    cursor: pointer;
}

.block .text {
    display: table-cell;
    text-align: left;
}

.block img {
    margin-right: 30px;
    float: left;
}

.block:hover p.p-l {
    color: #76e056 !important;
}

section.features .text-right .block img {
    margin-left: 0;
    margin-right: 30px;
}

section.features .block {
    margin-bottom: 20px;
    overflow: hidden;
}


/* ======= Pricing ======= */

.price-table {
    background: #fff;
    padding: 30px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.price-table img {
    margin-bottom: 30px;
}

.price-table .btn {
    margin-top: 20px;
}


/* ======= Blogs ======= */

.blog {
    background: #fff;
    padding: 30px;
    overflow: hidden;
}

.blog a.btn {
    margin-top: 15px;
}

.blog a.blog-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}


/* ======= Clients ======= */

.client .block {
    cursor: inherit;
}

.client-say {
    border: 1px solid #f1fcee;
    padding: 30px 30px 20px 30px;
    background: #fff;
}

.client-say img {
    padding-top: 10px;
}

.partners img {
    border: 1px solid #f1fcee;
    cursor: pointer;
    width: 100%;
}


/* ======= FAQ`s ======= */

.accordeon {
    width: 100%;
}

a.accordeon-title {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 2px;
    display: block;
    color: #0c112a;
    border: 1px solid #f1fcee;
}

.accordeon-title:after {
    content: '+';
    float: right;
    font-size: 16px;
    color: #0c112a;
    background: #f3f7f9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

.accordeon-title.is-opened {
    background-color: #76e056;
    color: #fff;
}

.accordeon-title.is-opened:after {
    content: '-';
}

.accordeon-content {
    display: none;
    padding: 15px;
    margin-bottom: 10px;
}


/* ======= Guaratess ======= */

.guaratess {
    background: #76e056;
    padding: 20px 0px;
}

.guarate {
    cursor: pointer;
}

.guarate img {
    float: left;
}

.guaratess p {
    color: #fff;
    padding-top: 10px;
    padding-left: 65px;
    font-weight: 600;
}


/* ======= Footer ======= */

.footer {
    background: #0c112a;
}

.footer p,
.footer a {
    color: #a1b1bc;
    line-height: 30px;
}

.footer h4.footer-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer a {
    font-weight: normal;
    border-bottom: 1px solid #222533;
    width: 100%;
    display: block;
    padding: 5px 0px;
}

.footer a:hover {
    color: #76e056;
}

.footer .form-control {
    border: 1px solid #303444;
    color: #fff;
}

.footer .btn {
    width: 100%;
    height: 40px;
    line-height: 30px;
    background: #76e056;
}

.footer .footer-social {
    margin-top: 20px !important;
}

.footer .footer-social li {
    padding: 0;
    padding-right: 5px;
}

.footer .footer-social a {
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
}

.footer .footer-social a i.icon {
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.facebook {
    background: #1b78c7;
}

.twitter {
    background: #00bff3;
}

.googleplus {
    background: #67b807;
}

.pinterest {
    background: #da421f;
}

.dribbble {
    background: #bc2a83;
}

.tumblr {
    background: #5d748c;
}


/* ======= Copyright ======= */

.copyright {
    background: #0b0f26;
    height: 80px;
    overflow: hidden;
}

.copyright p {
    margin: 0;
    color: #a1b1bc;
    line-height: 80px;
    display: inline-block;
}

.copyright a.up {
    line-height: 80px;
    float: right;
}

.copyright a.up img {
    padding-left: 10px;
}

/* ======= Custom WHMCS Template ======= */

section#main-body{
	margin-top: 0px;
	margin-bottom: 0px;
}

.main-content{
	margin: 0;
}

.date{
	background: #76e056;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

.nav-divider{
	display: none;
}

/*Language Dropdown*/
.language-popover{
	background: #fff;
	border: 1px solid #f3f7f9;
	box-shadow: 0 0 0;
	border-radius: 0;
	top: 55px !important;
	border-top: 3px solid #76e056;
}

.language-popover.popover.bottom>.arrow:after{
	border-bottom-color: #76e056;
}

.popover-content {
    padding: 0;
}

.language-popover .popover-content ul{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    max-width: inherit;
}

.language-popover .popover-content li{
	padding: 0px;
}

.language-popover .popover-content li a {
    color: #111;
    display: block;
    background: #fff;
    padding: 5px 0px 5px 40px;
    border: 1px solid #f3f7f9;
}

.language-popover .popover-content li a:hover{
	color: #76e056;
}


/*ShourtCuts*/
.home-shortcuts{
	background: #76e056;
	color: #fff;
	padding: 10px 0px;
}

.home-shortcuts p,
.home-shortcuts a{
	color: #fff;
}

.home-shortcuts li,
.home-shortcuts li:first-child{
	border-color: #fff;
}

/*Announcement*/

.announcement-single.news a{
	margin-bottom: 15px;
	display: block;
}

div.announcement-single .label.label-default{
	background: #76e056;
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
}

div.announcement-single h4{
	margin-top: 20px;
}

div.announcement-single h4 a{
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	display: block;
}

div.announcement-single a.label.label-warning.btn{
	display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    margin-top: 30px;
}

/*Sidebar*/
.panel-heading{
	background: #f3f7f9;
	border: 1px solid #f3f7f9;
}

.panel>.list-group {
    border: 1px solid #f3f7f9 !important;
}

.list-group-item{
	border-bottom: 1px solid #f3f7f9 !important;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #76e056;
}

/* Cart Pages*/
div.header-lined h1{
	color: #fff;
	padding: 15px 0;
    border: none;
    font-weight: 700;
    position: relative;
    background-color: #76e056;
    border-radius: 4px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

#order-standard_cart .view-cart-items-header{
	background-color: #76e056 !important;
	color: #fff !important;
	font-size: 1em !important;
	font-weight: 500;
}

#order-standard_cart .view-cart-items{
	border: 1px solid #f3f7f9;
	border-bottom: 2px solid #76e056 !important;
	margin-bottom: 30px;
}

#order-standard_cart .view-cart-items .item{
	background: #ffffff !important;
	border-bottom: 1px solid #f3f7f9;
}

.view-cart-items .item-domain{
	color: #76e056 !important;
	font-weight: 500;
}

.item-price span{
	font-weight: 500;
}

.view-cart-items .btn.btn-link.btn-xs{
	min-width: auto;
	height: auto;
	line-height: normal;
	background: transparent;
	color: #111;
}

#order-standard_cart .empty-cart .btn{
	background: #76e056 !important;
}

#order-standard_cart .view-cart-tabs{
	margin-top: 30px !important;
}

#order-standard_cart .view-cart-tabs .nav-tabs{
	padding-left: 0px !important;
}

.nav-tabs>li>a{
	background: #f3f7f9 !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: #76e056 !important;
	color: #fff !important;
	border: 1px solid #76e056 !important;
}

#order-standard_cart .view-cart-tabs .tab-content{
	background: #f3f7f9 !important;
}

#order-standard_cart .order-summary {
	border-bottom: 3px solid #76e056 !important;
}

#order-standard_cart .order-summary h2{
	background: #76e056 !important;
}

#order-standard_cart .summary-container{
	background: #f3f7f9 !important;
}

#order-standard_cart .btn-checkout {
    padding: 15px 34px;
    min-width: auto;
    height: auto;
    line-height: normal;
    border: 0;
}

#order-standard_cart .order-summary .btn-continue-shopping{
	background: transparent;
}

/*Breadcrumb*/

div.header-lined h1{
	border-bottom: 0px;
}

.breadcrumb{
    border: 1px solid #ebebeb;
    background: #f3f7f9;
    border-width: thin;
}

/*Sidebare*/

.panel{
	border: 0px;
	/*box-shadow: 0px 2px 10px #f1f1f1;*/
	box-shadow: 0 0 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #76e056;
    border-color: #76e056;
}

.panel>.list-group{
	border: 1px solid #ddd;
	border-top: 0px;
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover{
	background: #76e056;
	border-color: #76e056;
}

/*Register*/
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
	margin-top: 30px;
}

/*Contact*/
.main-content .form-control {
    border: 1px solid #e3e6e9 !important;
    transition: .5s !important;
}

.main-content .form-control:focus {
    outline: 0 !important;
    border: 1px solid #76e056 !important;
    box-shadow: inset 0 0px 0px !important;
}

.main-content .opent{
	margin-bottom: 50px;
}


.dataTables_wrapper .dataTables_filter label .form-control{
	color: #0c112a;
}

.btn-input-padded-responsive,
.panel.panel-default.panel-accent-emerald .panel-body .input-group-btn>.btn{
	height: 50px;
}

.client-home-panels .panel>.panel-heading{
	color: #0c112a;
}


.domain-pricing .tld-filters {
	margin-bottom: 15px;
}

.domain-pricing .tld-filters .label {
	display: inline-block;
	padding: 15px;
}

.domain-pricing .tld-pricing-header {
	padding: 10px 0px;
	background: #0c112a;
	color: #fff;
}

.domain-pricing .tld-row.filtered-row {
	padding: 10px 0px;
	background: #f3f7f9;
	border-bottom: 1px solid #fff;
	text-align: center;
}


.dataTables_wrapper table.table-list{
	    display: block;
    width: 100%;
    overflow-x: auto;
}

/*@media (min-width:1024px) and (max-width:1440px) {
	/*Menu*/
	/*.navbar-left,
	.navbar-right{
		float: none !important;
	}
	nav.navbar{
		float: none;
	    display: block;
	    overflow: scroll;
	    position: absolute;
	    left: 0;
	    right: 0;
	    background: #fff;
	    top: 100%;
	    z-index: 999;
	    border-top: 3px solid #76e056;
	    display: none;
	}
	.mobile-menu-open{
		display: block !important;
	}
	header .menu li{
		display: block;
		margin: 0px;
	}
	header .menu li a {
    	padding: 15px 0px 15px 30px;
   	}
   	ul.menu>li:hover ul.dropdown {
        display: none;
    }
    ul.dropdown{
    	left: 15px;
    	right: 15px;
    	background: #76e056;
    	border: 2px solid #76e056;
    }
    ul.account-menu ul.dropdown{
    	left: 15px;
    	right: 15px;
    }
    ul.dropdown li,
    header .menu li{
    	margin: 0;
    	width: 100%;
    }*/
   /*Slider*/
	/*.slick-prev {
	    left: -35px;
	}
	.slick-next {
	    right: -35px;
	}
}*/



@media (min-width:768px) and (max-width:1024px) {
	/*Menu*/
	.navbar-left,
	.navbar-right{
		float: none !important;
	}
	nav.navbar{
		float: none;
	    display: block;
	    overflow: scroll;
	    position: absolute;
	    left: 0;
	    right: 0;
	    background: #fff;
	    top: 100%;
	    z-index: 999;
	    border-top: 3px solid #76e056;
	    display: none;
	}
	.mobile-menu-open{
		display: block !important;
	}
	header .menu li{
		display: block;
		margin: 0px;
	}
	header .menu li a {
    	padding: 15px 0px 15px 30px;
   	}
   	ul.menu>li:hover ul.dropdown {
        display: none;
    }
    ul.dropdown{
    	left: 15px;
    	right: 15px;
    	background: #76e056;
    	border: 2px solid #76e056;
    }
    ul.account-menu ul.dropdown{
    	left: 15px;
    	right: 15px;
    }
    ul.dropdown li,
    header .menu li{
    	margin: 0;
    	width: 100%;
    }
}




@media (max-width:767px) {
    .m-mob-0 {
        margin: 0 !important;
    }
    .m-b-mob-30 {
        margin-bottom: 30px !important;
    }
    .m-b-mob-0 {
        margin: 0 !important;
    }
    .btn{
        min-width: 130px;
        min-width: auto;
    }
    .title {
    	padding-bottom: 20px;
    }
    section {
	    padding: 50px 0px;
	}
    	/*Top-header*/
	.top-header .container ul:last-child {
	    float: none;
	    width: 100%;
	    display: block;
	    margin: 0 auto;
	    max-height: 60px;
	}
	.popover.language-popover{
		left: auto !important;
		right: 20px !important;
	}
	/*Menu*/
	nav.navbar{
		float: none;
	    display: block;
	    overflow: scroll;
	    position: absolute;
	    left: 0;
	    right: 0;
	    background: #fff;
	    top: 100%;
	    z-index: 999;
	    border-top: 3px solid #76e056;
	    display: none;
	}
	.mobile-menu-open{
		display: block !important;
	}
	header .menu li{
		display: block;
		margin: 0px;
	}
	header .menu li a {
    	padding: 15px 0px 15px 30px;
   	}
   	ul.menu>li:hover ul.dropdown {
        display: none;
    }
    ul.dropdown{
    	left: 15px;
    	right: 15px;
    	background: #76e056;
    	border: 2px solid #76e056;
    }
    ul.account-menu ul.dropdown{
    	left: 15px;
    	right: 15px;
    }
    ul.dropdown li,
    header .menu li{
    	margin: 0;
    	width: 100%;
    }
    /*Slider*/
    section.slider .slider-content {
        padding-top: 30px;
        text-align: center;
    }
    section.slider .btn {
        margin-top: 20px;
        min-width: auto;
        padding: 0px 10px;
        height: 40px;
        line-height: 35px;
    }
   /*Main Body*/
    section#main-body{
    	margin-top: 0px;
    	margin-bottom: 0px;
    }
    /*Footer*/
    .footer {
        padding: 50px 0px;
        text-align: left;
    }
    /*Copyright*/
    .copyright {
        height: auto;
        padding: 15px 0px;
    }
    .copyright a.up,
    .copyright p {
        line-height: 26px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    
    select.form-control,
    select.form-control .list-group-item{
    	background: #f3f7f9;
    	color: #0c112a;
    }
   /*After Login*/
  .top-header .menu li {
		margin-right: 0 !important;
		margin-left: -5px;
	}
	
}
